<button
  type="button"
  mat-mini-fab
  color="white"
  class="close-button"
  (click)="dialogRef.close()"
>
  <mat-icon>close</mat-icon>
</button>
<mat-card class="add-process-card">
  <mat-card-title>Add Process </mat-card-title>
  <mat-card-content>
    <mat-radio-group
      *appHasRole="['owner', 'admin', 'receptionist']"
      class="process-radio-group"
      [(ngModel)]="subProcessType"
    >
      <mat-radio-button
        class="process-radio-button"
        value="department"
        color="primary"
      >
        Department
      </mat-radio-button>
      <mat-radio-button
        class="process-radio-button"
        value="subvendor"
        color="primary"
      >
        Subcontractor
      </mat-radio-button>
    </mat-radio-group>
    <form
      *ngIf="subProcessType === 'department'"
      [formGroup]="addDepartmentProcessForm"
      (ngSubmit)="addSubprocess(); dialogRef.close()"
    >
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Department</mat-label>
        <mat-select
          placeholder="Department"
          formControlName="department"
          required
        >
          <mat-option
            *ngFor="let department of departments"
            [value]="department"
          >
            {{ department.name }}
          </mat-option>
          <mat-error
            *ngIf="
              formControls.department.errors?.required &&
              formControls.department.dirty
            "
          >
            Please enter a valid department.
          </mat-error>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Description</mat-label>
        <input matInput type="text" formControlName="description" />
      </mat-form-field>
      <mat-card-actions class="card-actions">
        <button
          mat-stroked-button
          type="submit"
          color="primary"
          [disabled]="addDepartmentProcessForm.invalid"
        >
          Add Process
        </button>
      </mat-card-actions>
    </form>
    <form
      *ngIf="subProcessType === 'subvendor'"
      [formGroup]="addSubvendorProcessForm"
      (ngSubmit)="addSubprocess(); dialogRef.close()"
    >
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Subcontractor</mat-label>
        <mat-select
          placeholder="Subcontractor"
          formControlName="subvendorName"
          required
        >
          <mat-option
            *ngFor="let subvendor of subvendors"
            [value]="subvendor.name"
          >
            {{ subvendor.name }}
          </mat-option>
          <mat-error
            *ngIf="
              formControls.subvendorName.errors?.required &&
              formControls.subvendorName.dirty
            "
          >
            Please enter a valid subcontractor name.
          </mat-error>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Description</mat-label>
        <input matInput type="text" formControlName="description" />
      </mat-form-field>
      <mat-checkbox matInput formControlName="cash">Cash </mat-checkbox>
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Price</mat-label>
        <input matInput type="number" formControlName="price" />
      </mat-form-field>
      <mat-card-actions class="card-actions">
        <button
          mat-stroked-button
          type="submit"
          color="primary"
          [disabled]="addSubvendorProcessForm.invalid"
        >
          Add Process
        </button>
      </mat-card-actions>
    </form>
  </mat-card-content>
</mat-card>
