@import "../../../shared/mixins/mixins.scss";

.add-process-card {
  width: 80vw;
  @include desktop {
    max-width: 40vw !important;
    min-width: 40vw !important;
  }
  position: absolute;
  left: 50%;
  top: 40%;
  -o-transform: translate(-50%, -40%);
  -webkit-transform: translate(-50%, -40%);
  -moz-transform: translate(-50%, -40%);
  transform: translate(-50%, -40%);
  box-shadow: none !important;
}

.process-radio-group {
  flex-direction: column;
}

.process-radio-button {
  margin: 5px;
}
