@import "../../../shared/mixins/mixins.scss";

@page {
  size: auto;
  margin: 5mm;
  margin-bottom: 0px;
}
.close-button {
  position: absolute;
  top: 0px;
  right: 0px;
}
input {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid black;
}
.print-inner {
  height: 100vh;
  margin: 0;
  display: grid;
  grid-template-columns: auto;
}
.details-1 {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  margin-top: 12px;
}
.details-outer {
  display: grid;
  grid-row: 2/3;
}
.details-2 {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
}
.company-details {
  font-family: "Roboto", sans-serif;
  display: grid;
  grid-template-columns: 74px 75% auto;
  grid-template-rows: auto;
}
.company-details-outer {
  display: grid;
  grid-row: 1/2;
}
.company-logo {
  grid-column: 1 /2;
  img {
    max-width: 64px;
    max-height: 64px;
  }
}
.details-company {
  grid-column: 2/3;
  grid-row: 1/2;
  line-height: 93%;
  font-size: 13px;
  margin-bottom: 0px;
}
.tax-invoice {
  grid-column: 3/4;
  text-align: right;
}
.invoice-header {
  font-family: "Roboto", sans-serif;
  text-align: center;
  width: 100%;
  background-color: #eee;
  padding: 5px 0;
}
.customer-details {
  font-family: "Roboto", sans-serif;
  text-align: left;
  grid-column: 1 / 2;
  margin-left: 10px;
  line-height: 95%;
  font-size: 13px;
}
.receipt-details {
  font-family: "Roboto", sans-serif;
  text-align: left;
  grid-column: 2 / 3;
  line-height: 95%;
  font-size: 13px;
}
.customer-order-details {
  font-family: "Roboto", sans-serif;
  text-align: left;
  width: 49%;
  margin-left: 10px;
}

.text-align-right {
  text-align: right !important;
}
.e-sugam-details {
  font-family: "Roboto", sans-serif;
  text-align: left;
  grid-column: 1 / 2;
  margin-left: 10px;
}
.dispatch-details {
  font-family: "Roboto", sans-serif;
  text-align: left;
  grid-column: 2 / 3;
}
.receipt-table {
  width: 98%;
  margin: 10px auto;
  font-family: "Roboto", sans-serif;
  th,
  td {
    padding: 1px;
    text-align: center;
  }
}
.receipt-table-outer {
  display: grid;
  grid-row: 3/4;
  margin-top: 12px;
}
.final-table {
  width: 98%;
  margin: 10px auto;
  font-family: "Roboto", sans-serif;
  line-height: 16px;
  page-break-inside: avoid;
}
.final-table-outer {
  display: grid;
  grid-row: 4/5;
}
table,
th,
td {
  font-family: "Roboto", sans-serif;
  border: 1px solid black;
  border-collapse: collapse;
}
table.receipt-table tr:nth-child(even) {
  background-color: #eee;
}
table.receipt-table tr:nth-child(odd) {
  background-color: #fff;
}
table.receipt-table th {
  background-color: #eee;
}
.receipt-footer {
  font-family: "Roboto", sans-serif;
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
}

.text-align-right {
  text-align: right !important;
}

.add-receipt {
  max-height: 75vh;
  margin: 0;
  padding: 0;
  @include desktop {
    max-height: 80vh;
  }
}
