<button mat-stroked-button (click)="generateReceipt()" color="primary">
  Generate
</button>
<button
  type="button"
  routerLink="/delivery-challan"
  mat-mini-fab
  color="white"
  class="close-button"
>
  <mat-icon>close</mat-icon>
</button>
<hr />
<perfect-scrollbar class="add-receipt" [config]="{ suppressScrollX: false }">
  <div id="print-section">
    <div class="print-inner">
      <div class="company-details-outer">
        <div class="company-details" style="border-bottom: 1px solid black">
          <span class="company-logo">
            <img
              *ngIf="
                receipt.companyDetails && receipt.companyDetails.companyLogo
              "
              [src]="receipt.companyDetails.companyLogo"
            />
          </span>
          <p class="tax-invoice">
            <span><b>DELIVERY CHALLAN</b></span>
          </p>
          <p class="details-company">
            <b>{{ receipt.companyDetails?.name }}</b> <br />
            {{ receipt.companyDetails?.address }} <br />
            Contact: {{ receipt.companyDetails?.phoneNumber }},
            {{ receipt.companyDetails?.phoneNumber2 }}
            {{ receipt.companyDetails?.email }} <br />
            State Code: {{ receipt.companyDetails?.stateCode }} <br />
            GSTIN: {{ receipt.companyDetails?.gstin }} <br />
            SAC Code: {{ receipt.companyDetails?.SACCode }}
          </p>
        </div>
      </div>
      <div class="details-outer">
        <div class="details-1">
          <div class="customer-details">
            Details of receiver: <br />
            <input type="text" [(ngModel)]="receipt.customerDetails.name" />
            <br />
            Address:
            <input
              type="text"
              [(ngModel)]="receipt.customerDetails.address"
            /><br />Contact:
            <input
              type="text"
              placeholder="Phone Number"
              [(ngModel)]="receipt.customerDetails.phoneNumber"
            />,<input
              type="text"
              placeholder="Phone Number 2"
              [(ngModel)]="receipt.customerDetails.phoneNumber2"
            />
            <input
              type="text"
              placeholder="Email"
              [(ngModel)]="receipt.customerDetails.email"
            /><br />State Code:
            <input
              type="text"
              [(ngModel)]="receipt.customerDetails.stateCode"
            />
            <br />
            GSTIN:
            <input
              type="text"
              [(ngModel)]="receipt.customerDetails.gstin"
            /><br />
            SAC Code:
            <input
              type="text"
              [(ngModel)]="receipt.customerDetails.SACCode"
            /><br />
            Your DC No: <input type="text" [(ngModel)]="receipt.customerDC" />
            <span
              *ngIf="
                receipt.orderCreatedDate && isDate(receipt.orderCreatedDate)
              "
            >
              <br />Your DC Date:
              {{ receipt.orderCreatedDate }}
            </span>
            <span
              *ngIf="
                receipt.orderCreatedDate && !isDate(receipt.orderCreatedDate)
              "
            >
              <br />Your DC Date:
              {{ receipt.orderCreatedDate.toDate() }}
            </span>
          </div>
          <div class="receipt-details">
            DC No: <input type="text" [(ngModel)]="receipt.dcNo" />
            <br />
            DC Date: {{ today | date: "d/M/yy, h:mm a" }} <br />
            Ref PO No.: <input type="text" [(ngModel)]="receipt.refPONo" />
            <br />Ref Date:
            <input type="text" [(ngModel)]="receipt.refDate" />
            <br />
            Our DC No.: {{ receipt.internalDC }}
            <span
              *ngIf="
                receipt.orderCreatedDate && isDate(receipt.orderCreatedDate)
              "
            >
              <br />Our DC Date: {{ receipt.orderCreatedDate | date: "d/M/yy, h:mm a" }}
            </span>
            <span
              *ngIf="
                receipt.orderCreatedDate && !isDate(receipt.orderCreatedDate)
              "
            >
              <br />Our DC Date:
              {{ receipt.orderCreatedDate.toDate() | date: "d/M/yy, h:mm a" }}
            </span>
            <br />
            E-Sugam Details:
            <input type="text" [(ngModel)]="receipt.eSugam" />
            <br />Invoice Ref No(GST):
            <input type="text" [(ngModel)]="receipt.gstRef" />
            <br />
            Mode of dispatch:
            <input type="text" [(ngModel)]="receipt.dispatchMode" />
            <br />
            Vehicle No:
            <input type="text" [(ngModel)]="receipt.vehicleNo" />
          </div>
        </div>
      </div>
      <div class="receipt-table-outer">
        <table class="receipt-table">
          <thead>
            <tr>
              <th width="5%">#</th>
              <th width="30%">Description</th>
              <th width="25%">HSN</th>
              <th width="10%">Qty(Nos)</th>
              <th width="10%">Weight(Kgs)</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of receipt.items; let i = index">
              <td width="5%">{{ i + 1 }}</td>
              <td width="30%"><input type="text" [(ngModel)]="item.name" /></td>
              <td width="25%"><input type="text" [(ngModel)]="item.hsn" /></td>
              <td width="10%">{{ item.quantity }}</td>
              <td width="10%">
                <input type="text" [(ngModel)]="item.weight" />
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="final-table-outer">
        <table class="final-table">
          <tbody>
            <tr>
              <td colspan="2">DC Remark</td>
              <td colspan="9">
                <input type="text" [(ngModel)]="receipt.dcRemarks" />
              </td>
            </tr>
            <tr>
              <td colspan="11">For {{ receipt.companyDetails?.name }}</td>
            </tr>
            <tr>
              <td colspan="11" style="border-bottom: none;border-top: none">
                <br />
              </td>
            </tr>
            <tr>
              <td colspan="11" style="border-bottom: none;border-top: none">
                <br />
              </td>
            </tr>
            <tr>
              <td colspan="11" style="border-bottom: none;border-top: none">
                <br />
              </td>
            </tr>
            <tr>
              <td colspan="11" style="border-bottom: none;border-top: none">
                <br />
              </td>
            </tr>
            <tr>
              <td colspan="11" style="border-bottom: none;border-top: none">
                <br />
              </td>
            </tr>
            <tr>
              <td colspan="11" style="border-bottom: none;border-top: none">
                <br />
              </td>
            </tr>
            <tr>
              <td style="border: none !important">
                Receiver's Seal and Signature
              </td>
              <td colspan="9" style="border: none !important"></td>
              <td style="border: none !important;text-align: right">
                <b>Authorised Signature</b>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</perfect-scrollbar>
