<button
  type="button"
  mat-mini-fab
  color="white"
  class="close-button"
  (click)="dialogRef.close()"
>
  <mat-icon>close</mat-icon>
</button>
<mat-card class="profile-card">
  <mat-card-header>
    <div
      mat-card-avatar
      class="user-header-image"
      *ngIf="user.photoURL"
      [ngStyle]="{ 'background-image': 'url(' + user.photoURL + ')' }"
      style="background-image: url(user.photoURL)"
    ></div>
    <div
      mat-card-avatar
      class="user-header-image user-default-image"
      *ngIf="!user.photoURL"
    ></div>
    <mat-card-title>{{ user.displayName }}</mat-card-title>
    <mat-card-subtitle>
      <mat-chip-list *ngFor="let role of user.roles | keyvalue">
        <mat-chip>{{ role.key }}</mat-chip>
      </mat-chip-list>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <table id="profiletable">
      <tr *ngIf="user?.phoneNumber">
        <td class="td----30">
          <strong>Phone </strong>
        </td>
        <td>
          <a target="_blank" href="tel:{{ user.phoneNumber }}">
            {{ user.phoneNumber }}
          </a>
        </td>
      </tr>
      <tr *ngIf="user?.email">
        <td class="td----30">
          <strong>Email </strong>
        </td>
        <td>
          <a href="mailto:{{ user.email }}" target="_blank">
            {{ user.email }}
          </a>
        </td>
      </tr>
      <tr *ngIf="user?.landlineNumber">
        <td class="td----30">
          <strong>Landline Number </strong>
        </td>
        <td>
          <a target="_blank" href="tel:{{ user.landlineNumber }}">
            {{ user.landlineNumber }}
          </a>
        </td>
      </tr>
      <tr *ngIf="user?.address">
        <td class="td----30">
          <strong>Address </strong>
        </td>
        <td>
          <a target="_blank" href="{{ mapsURL }}">
            {{ user.address }}
          </a>
        </td>
      </tr>
      <tr *ngIf="user?.gstin">
        <td class="td----30">
          <strong>GSTIN </strong>
        </td>
        <td>{{ user.gstin }}</td>
      </tr>
      <tr *ngIf="user?.tin">
        <td class="td----30">
          <strong>TIN </strong>
        </td>
        <td>{{ user.tin }}</td>
      </tr>
      <tr *ngIf="user?.esugam">
        <td class="td----30">
          <strong>E-Sugam </strong>
        </td>
        <td>{{ user.esugam }}</td>
      </tr>
      <tr *ngIf="user?.hsn">
        <td class="td----30">
          <strong>HSN Code </strong>
        </td>
        <td>{{ user.hsn }}</td>
      </tr>
      <tr *ngIf="user?.stateCode">
        <td class="td----30">
          <strong>State Code </strong>
        </td>
        <td>{{ user.stateCode }}</td>
      </tr>
      <tr *ngIf="user?.SACCode">
        <td class="td----30">
          <strong>SAC Code </strong>
        </td>
        <td>{{ user.SACCode }}</td>
      </tr>
      <tr *ngIf="user?.creditPeriod">
        <td class="td----30">
          <strong>Credit Period </strong>
        </td>
        <td>{{ user.creditPeriod }}</td>
      </tr>
      <tr *ngIf="user?.salary">
        <td class="td----30">
          <strong>Salary </strong>
        </td>
        <td>{{ user.salary }}</td>
      </tr>
      <tr *ngIf="user?.department">
        <td class="td----30">
          <strong>Departments </strong>
        </td>
        <td>
          <mat-chip-list *ngFor="let d of user?.department">
            <mat-chip>{{ d.name | titlecase }}</mat-chip>
          </mat-chip-list>
        </td>
      </tr>
    </table>
  </mat-card-content>
</mat-card>
