.profile-card {
  max-width: 400px;
  box-shadow: none !important;
  position: relative;
}

.user-header-image {
  background-size: cover;
}

table#profiletable {
  table-layout: fixed;
  width: 100%;
}

table#profiletable td {
  padding: 3px;
  vertical-align: top;
}

.td--30 {
  width: 30%;
}

.user-default-image {
  background-image: url("/assets/person.png");
}
