<button
  type="button"
  routerLink="/settings"
  mat-mini-fab
  color="white"
  class="close-button"
>
  <mat-icon>close</mat-icon>
</button>
<mat-card class="card-no-shadow">
  <mat-card-title>Update PIN</mat-card-title>
  <mat-card-content>
    <form
      [formGroup]="changePinForm"
      (ngSubmit)="
        changePIN(formControls.currentPIN.value, formControls.newPIN.value)
      "
    >
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Current PIN</mat-label>
        <input matInput type="password" formControlName="currentPIN" required />
        <mat-error
          *ngIf="
            formControls.currentPIN.errors?.minlength &&
            formControls.currentPIN.dirty
          "
        >
          Please enter a valid 6 digit PIN.
        </mat-error>
        <mat-error
          *ngIf="
            formControls.currentPIN.errors?.maxlength &&
            formControls.currentPIN.dirty
          "
        >
          Please enter a valid 6 digit PIN.
        </mat-error>
        <mat-error
          *ngIf="
            formControls.currentPIN.errors?.required &&
            formControls.currentPIN.dirty
          "
        >
          Current PIN is required.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>New PIN</mat-label>
        <input matInput type="password" formControlName="newPIN" required />
        <mat-error
          *ngIf="
            formControls.newPIN.errors?.minlength && formControls.newPIN.dirty
          "
        >
          Please enter a valid 6 digit PIN.
        </mat-error>
        <mat-error
          *ngIf="
            formControls.newPIN.errors?.maxlength && formControls.newPIN.dirty
          "
        >
          Please enter a valid 6 digit PIN.
        </mat-error>
        <mat-error
          *ngIf="
            formControls.newPIN.errors?.required && formControls.newPIN.dirty
          "
        >
          New PIN is required.
        </mat-error>
      </mat-form-field>
      <mat-card-actions class="card-actions">
        <button
          mat-stroked-button
          type="submit"
          color="primary"
          [disabled]="changePinForm.invalid"
        >
          Update PIN
        </button>
      </mat-card-actions>
    </form>
  </mat-card-content>
</mat-card>
