@import "../../../shared/mixins/mixins.scss";

.amount-due-card {
  @include desktop {
    max-width: 400px;
  }
  box-shadow: none !important;
}

table#amountduetable {
  table-layout: fixed;
  width: 100%;
}

.td--40 {
  width: 50%;
}

.td--30 {
  width: 30%;
}

.td--5 {
  width: 5%;
}

.amount-list {
  max-height: 60vh;
  box-shadow: none !important;
  margin: 0;
  padding: 0;
  @include desktop {
    max-height: 65vh;
  }
}
