<button
  type="button"
  mat-mini-fab
  color="white"
  class="close-button"
  (click)="dialogRef.close()"
>
  <mat-icon>close</mat-icon>
</button>
<mat-card class="amount-due-card">
  <mat-card-header>
    <mat-card-title>Amount Details</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <perfect-scrollbar class="amount-list">
      <table id="amountduetable">
        <tr>
          <td class="td--40">
            <strong>
              <ng-container
                *ngIf="this.data.type === 'customer'; else elseTemplate"
              >
                Invoice Number
              </ng-container>
              <ng-template #elseTemplate>
                Order ID
              </ng-template>
            </strong>
          </td>
          <td class="td--30">
            <strong>
              Amount
            </strong>
          </td>
        </tr>
        <tr *ngFor="let t of transactions | async">
          <td class="td--40">
            <ng-container *ngIf="t.billNo; else elseTemplate">
              {{ t.billNo }}
            </ng-container>
            <ng-template #elseTemplate>
              {{ t.internalDC }}
            </ng-template>
          </td>
          <td class="td--30">{{ t.amount | INRCurrency: true}}</td>
          <td class="td--5">
            <ng-container *ngIf="t.billNo; else elseTemplate2">
              <button (click)="transactionBillNo(t.billNo)" mat-icon-button>
                <mat-icon color="primary">attach_money</mat-icon>
              </button>
            </ng-container>
            <ng-template #elseTemplate2>
              <button
                (click)="transactionInternalDC(t.internalDC)"
                mat-icon-button
              >
                <mat-icon color="primary">attach_money</mat-icon>
              </button>
            </ng-template>
          </td>
          <td *ngIf="t.billNo" class="td--5">
            <button (click)="billBillNo(t.billNo)" mat-icon-button>
              <mat-icon color="accent">notes</mat-icon>
            </button>
          </td>
        </tr>
      </table>
    </perfect-scrollbar>
  </mat-card-content>
</mat-card>
