<button
  type="button"
  mat-mini-fab
  color="white"
  class="close-button"
  (click)="dialogRef.close()"
>
  <mat-icon>close</mat-icon>
</button>
<mat-card class="enter-pin-card">
  <mat-card-title>Enter PIN </mat-card-title>
  <mat-card-subtitle
    >Deleting Bill will also delete related transaction.
    <div *ngIf="bill.multipleOrders" class="delete-warning">
      This bill contains items from different orders. Deleting this bill will
      also delete any related transactions. This may resulted in corrupted data.
    </div></mat-card-subtitle
  >
  <mat-card-content>
    <form
      [formGroup]="enterPINForm"
      (ngSubmit)="deleteBill(bill, formControls.currentPIN.value)"
    >
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Current PIN</mat-label>
        <input matInput type="password" formControlName="currentPIN" required />
        <mat-error
          *ngIf="
            formControls.currentPIN.errors?.minlength &&
            formControls.currentPIN.dirty
          "
        >
          Please enter a valid 6 digit PIN.
        </mat-error>
        <mat-error
          *ngIf="
            formControls.currentPIN.errors?.maxlength &&
            formControls.currentPIN.dirty
          "
        >
          Please enter a valid 6 digit PIN.
        </mat-error>
        <mat-error
          *ngIf="
            formControls.currentPIN.errors?.required &&
            formControls.currentPIN.dirty
          "
        >
          Current PIN is required.
        </mat-error>
      </mat-form-field>
      <mat-card-actions class="card-actions">
        <button
          mat-stroked-button
          type="submit"
          color="warn"
          [disabled]="enterPINForm.invalid"
        >
          Delete Bill
        </button>
      </mat-card-actions>
    </form>
  </mat-card-content>
</mat-card>
