<button
  type="button"
  routerLink="/settings"
  mat-mini-fab
  color="white"
  class="close-button"
>
  <mat-icon>close</mat-icon>
</button>
<mat-card class="card-no-shadow">
  <mat-card-title>Billing Details</mat-card-title>
  <mat-card-content>
    <form [formGroup]="billingDetailsForm" (ngSubmit)="updateDetails()">
      <perfect-scrollbar class="edit-billing-form">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Name</mat-label>
          <input matInput type="name" formControlName="name" required />
          <mat-error
            *ngIf="
              formControls.name.errors?.required && formControls.name.dirty
            "
          >
            Name is required.
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Email</mat-label>
          <input matInput type="email" formControlName="email" required />
          <mat-error
            *ngIf="formControls.email.errors?.email && formControls.email.dirty"
          >
            Please enter a valid email address.
          </mat-error>
          <mat-error
            *ngIf="
              formControls.email.errors?.required && formControls.email.dirty
            "
          >
            Email is required.
          </mat-error>
        </mat-form-field>
        <span *ngIf="billingDetails && billingDetails.companyLogo">
          <img
            [src]="billingDetails.companyLogo"
            alt="Current"
            class="company-logo-image"
          />
        </span>
        <span
          >Photo
          <input
            #fileInput
            type="file"
            (change)="uploadPhoto($event)"
            accept="image/jpeg, .jpeg, image/png, .png, image/pjpeg, .jpg"
          />
        </span>
        <mat-form-field
          appearance="outline"
          class="full-width form-field-top-margin"
          id="address-form-field"
        >
          <mat-label>Address</mat-label>
          <textarea matInput formControlName="address" required></textarea>
          <mat-error
            *ngIf="
              formControls.address.errors?.required &&
              formControls.address.dirty
            "
          >
            Address is required.
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Phone Number</mat-label>
          <input matInput type="text" formControlName="phoneNumber" required />
          <mat-error
            *ngIf="
              formControls.phoneNumber.errors?.minlength &&
              formControls.phoneNumber.dirty
            "
          >
            Please enter a valid phone number.
          </mat-error>
          <mat-error
            *ngIf="
              formControls.phoneNumber.errors?.maxlength &&
              formControls.phoneNumber.dirty
            "
          >
            Please enter a valid phone number.
          </mat-error>
          <mat-error
            *ngIf="
              formControls.phoneNumber.errors?.required &&
              formControls.phoneNumber.dirty
            "
          >
            Phone number is required.
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Second Phone Number</mat-label>
          <input matInput type="text" formControlName="phoneNumber2" />
          <mat-error
            *ngIf="
              formControls.phoneNumber2.errors?.minlength &&
              formControls.phoneNumber2.dirty
            "
          >
            Please enter a valid phone number.
          </mat-error>
          <mat-error
            *ngIf="
              formControls.phoneNumber2.errors?.maxlength &&
              formControls.phoneNumber2.dirty
            "
          >
            Please enter a valid phone number.
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>GSTIN</mat-label>
          <input matInput type="text" formControlName="gstin" required />
          <mat-error
            *ngIf="
              formControls.gstin.errors?.minlength && formControls.gstin.dirty
            "
          >
            Please enter a valid GSTIN.
          </mat-error>
          <mat-error
            *ngIf="
              formControls.gstin.errors?.maxlength && formControls.gstin.dirty
            "
          >
            Please enter a valid GSTIN.
          </mat-error>
          <mat-error
            *ngIf="
              formControls.gstin.errors?.required && formControls.gstin.dirty
            "
          >
            GSTIN is required.
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>State Code</mat-label>
          <input matInput type="text" formControlName="stateCode" />
          <mat-error
            *ngIf="
              formControls.stateCode.errors?.minlength &&
              formControls.stateCode.dirty
            "
          >
            Please enter a valid State Code.
          </mat-error>
          <mat-error
            *ngIf="
              formControls.stateCode.errors?.maxlength &&
              formControls.stateCode.dirty
            "
          >
            Please enter a valid State Code.
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>HSN Code</mat-label>
          <input matInput type="text" formControlName="hsnCode" />
        </mat-form-field>
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>SAC Code</mat-label>
          <input matInput type="text" formControlName="sacCode" />
        </mat-form-field>
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>NEFT</mat-label>
          <input matInput type="text" formControlName="neft" />
        </mat-form-field>
      </perfect-scrollbar>
      <mat-card-actions class="card-actions">
        <button
          mat-stroked-button
          type="submit"
          color="primary"
          [disabled]="
            billingDetailsForm.invalid ||
            billingDetailsForm.pristine ||
            uploadingImages
          "
        >
          Update
        </button>
      </mat-card-actions>
    </form>
  </mat-card-content>
</mat-card>
