@import "../../../shared/mixins/mixins.scss";

#address-form-field {
  margin-top: 20px;
}

.form-field-top-margin {
  margin-top: 20px;
}

.company-logo-image {
  max-width: 64px;
  max-height: 64px;
}

.edit-billing-form {
  height: calc(100vh - 190px);
  margin: 0;
  padding: 0;
  @include desktop {
    height: calc(100vh - 135px);
  }
}
