.forgot-card {
  min-width: 40vw;
  position: absolute;
  left: 50%;
  top: 40%;
  -o-transform: translate(-50%, -40%);
  -webkit-transform: translate(-50%, -40%);
  -moz-transform: translate(-50%, -40%);
  transform: translate(-50%, -40%);
  box-shadow: none !important;
}
