@import "../../../shared/mixins/mixins.scss";

.login-card {
  max-width: 25vw;
  max-width: 75vw;

  position: absolute;
  left: 50%;
  top: 55%;
  transform: translate(-50%, -50%);
  @include desktop {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -40%);
  }

  @include ipad {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -40%);
  }
}

body {
  overflow: hidden;
}

.login-bg {
  overflow: hidden;
}

.login-card-actions {
  text-align: center;
}

.submit-button {
  margin-top: 10px;
}

mat-card-title {
  text-align: center;
}

mat-hint {
  cursor: pointer;
  color: #2f80ed;
}
