<div class="login-bg">
  <css-doodle>
    {{
      "
  :doodle {
  @grid: 12;
    height:100vh;
    width:100vw;
    background: #081B33;
}
  background: @pick(#29B6F6, #FDD835, #5E35B1, #FFCCBC, #E8EAF6, #B2DFDB, #1B5E20, #2979FF);
  opacity: @r(.6, 1.0);
  border-radius: @r(50%);
  @size: @r(0.7em);
    will-change: transform;

transform: scale(@rand(.1, 1.1)) translate3d(@r(150px), @r(200px), 0) rotate(@r(360deg));
animation: test infinite @r(100s, 150s) linear;

@keyframes test {
        0% {
            transform: translate3d(@r(150px), @r(200px), 0) rotate(@r(360deg));
        }
        50% {
            transform: translate3d(@r(-5000%, 10000%), @r(-5000%, 10000%), 0);

        }
        100% {
            transform: translate3d(0, 0, 0);
        }
          "
    }}
  </css-doodle>
</div>
<mat-card class="login-card ">
  <mat-card-title
    ><strong>
      ToolDesk
    </strong></mat-card-title
  >
  <mat-card-content>
    <form
      [formGroup]="loginForm"
      (ngSubmit)="login(formControls.email.value, formControls.password.value)"
    >
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Email</mat-label>
        <input
          matInput
          type="email"
          formControlName="email"
          required
          placeholder="Enter Email"
        />
        <mat-error
          *ngIf="formControls.email.errors?.email && formControls.email.touched"
        >
          Please enter a valid email address.
        </mat-error>
        <mat-error
          *ngIf="
            formControls.email.errors?.required && formControls.email.touched
          "
        >
          Email is required.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Password</mat-label>
        <input
          matInput
          type="password"
          formControlName="password"
          required
          placeholder="Enter password"
        />
        <mat-error *ngIf="formControls.password.errors?.minlength">
          The password must at least have 6 characters.
        </mat-error>
        <mat-error *ngIf="formControls.password.errors?.required">
          Password is required.
        </mat-error>
        <mat-hint align="end" routerLink="/account/forgot"
          ><u>Forgot your password?</u></mat-hint
        >
      </mat-form-field>
      <mat-card-actions class="login-card-actions">
        <button
          type="submit"
          mat-stroked-button
          color="primary"
          class="submit-button"
        >
          Login
        </button>
      </mat-card-actions>
    </form>
  </mat-card-content>
</mat-card>
