<button
  type="button"
  mat-mini-fab
  class="close-button"
  color="white"
  (click)="dialogRef.close()"
>
  <mat-icon>close</mat-icon>
</button>
<mat-card class="add-transaction-card card-no-shadow">
  <h2 mat-card-title>
    Add Transaction
  </h2>
  <mat-card-content>
    <form [formGroup]="addTransactionForm" (ngSubmit)="addTransaction()">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Type</mat-label>
        <mat-select placeholder="Type" formControlName="type">
          <mat-option value="income">Income</mat-option>
          <mat-option value="expenditure">Expenditure</mat-option>
        </mat-select>
        <mat-error
          *ngIf="
            formControls.type.errors?.required && formControls.type.touched
          "
        >
          Please eselect a transaction type.
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Amount</mat-label>
        <input matInput type="number" formControlName="amount" required />
        <mat-error
          *ngIf="
            formControls.amount.errors?.required && formControls.amount.touched
          "
        >
          Please enter an amount.
        </mat-error>
        <mat-error
          *ngIf="formControls.amount.errors?.min && formControls.amount.touched"
        >
          Please enter an amount greater than 0.
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Description</mat-label>
        <input matInput type="text" formControlName="description" />
      </mat-form-field>
      <mat-card-actions class="card-actions">
        <button
          mat-stroked-button
          color="primary"
          [disabled]="!addTransactionForm.valid"
          type="submit"
        >
          Add
        </button>
      </mat-card-actions>
    </form>
  </mat-card-content>
</mat-card>
