<button
  type="button"
  mat-mini-fab
  color="white"
  class="close-button"
  (click)="dialogRef.close()"
>
  <mat-icon>close</mat-icon>
</button>
<mat-card class="enter-pin-card">
  <mat-card-title>Update Payment Status </mat-card-title>
  <mat-card-content>
    <form [formGroup]="paymentUpdateForm" (ngSubmit)="updateReceived()">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Description</mat-label>
        <input matInput type="text" formControlName="description" />
        <mat-hint>Cash/Cheque No/Remark</mat-hint>
      </mat-form-field>
      <mat-card-actions class="card-actions">
        <button
          mat-stroked-button
          type="submit"
          color="warn"
          [disabled]="paymentUpdateForm.invalid"
        >
          Update Payment Status
        </button>
      </mat-card-actions>
    </form>
  </mat-card-content>
</mat-card>
