.cover {
    position: fixed;
    z-index: 11;
    height: 100vh;
    width: 100%;
    background-color: #2f80ed;
    color: white;
}
h1{
    text-align: center;
    margin-top: 40vh;
}
p{
    text-align: center
}