<button
  type="button"
  routerLink="/order"
  mat-mini-fab
  color="white"
  class="close-button"
>
  <mat-icon>close</mat-icon>
</button>
<mat-card class="card-no-shadow">
  <mat-card-header>
    <mat-card-title>Settings</mat-card-title>
  </mat-card-header>
  <mat-card-content class="settings-grid">
    <perfect-scrollbar>
      <div class="settings-card ">
        <div class="settings-header">
          <mat-card-title>Email</mat-card-title>
        </div>
        <div class="settings-content">
          <div class="settings-inner">
            <div class="setting-value">
              {{ userRef.email }}
            </div>
            <div class="setting-action">
              <button
                mat-raised-button
                color="primary"
                class="action-button"
                routerLink="/settings/email"
              >
                Edit
              </button>
            </div>
          </div>
        </div>
      </div>
      <hr class="divider-line" />
      <div class="settings-card " *appHasRole="['owner']">
        <div class="settings-header">
          <mat-card-title>PIN</mat-card-title>
        </div>
        <div class="settings-content">
          <div class="settings-inner">
            <div class="setting-value"></div>
            <div class="setting-action">
              <button
                mat-raised-button
                color="primary"
                class="action-button"
                routerLink="/settings/pin"
              >
                Edit
              </button>
            </div>
          </div>
        </div>
      </div>
      <hr class="divider-line" *appHasRole="['owner']" />
      <div
        class="settings-card"
        *appHasRole="['owner', 'admin', 'receptionist']"
      >
        <div class="settings-header">
          <mat-card-title>Current Plan</mat-card-title>
        </div>
        <div class="settings-content">
          <div class="settings-inner">
            <div class="setting-value"></div>
            <div class="setting-action">
              <button
                mat-raised-button
                color="primary"
                class="action-button"
                routerLink="/settings/current-plan"
              >
                View
              </button>
            </div>
          </div>
        </div>
      </div>
      <hr class="divider-line" />
      <div
        class="settings-card "
        *appHasRole="['owner', 'admin', 'receptionist']"
      >
        <div class="settings-header">
          <mat-card-title>Billing Details</mat-card-title>
        </div>
        <div class="settings-content">
          <div class="settings-inner">
            <div class="setting-value"></div>
            <div class="setting-action">
              <button
                mat-raised-button
                color="primary"
                class="action-button"
                routerLink="/settings/billing-details"
              >
                Edit
              </button>
            </div>
          </div>
        </div>
      </div>
      <hr class="divider-line" />
      <div
        class="settings-card "
        *appHasRole="['owner', 'admin', 'receptionist']"
      >
        <div class="settings-header">
          <mat-card-title>Departments</mat-card-title>
        </div>
        <div class="settings-content">
          <div class="settings-inner">
            <div class="setting-value"></div>
            <div class="setting-action">
              <button
                mat-raised-button
                color="primary"
                class="action-button"
                routerLink="/settings/departments"
              >
                Edit
              </button>
            </div>
          </div>
        </div>
      </div>
    </perfect-scrollbar>
  </mat-card-content>
</mat-card>
