@import "../../shared/mixins/mixins.scss";

.settings-grid {
  @include desktop {
    max-height: 90vh;
    padding-top: 2rem;
  }
  @include ipad {
    max-height: 95vh;
  }
  max-height: 80vh;
}
.settings-card {
  display: grid;
  grid-template-rows: 3fr 7fr;
  padding: 1rem;
  max-height: 8vh;
  padding-bottom: 2rem;
  @include desktop {
    max-width: 80vw;
    margin: 0.6rem auto;
  }
  @include ipad {
    max-width: 65vw;
    margin: 0.6rem auto;
  }
  max-width: 82vw;
  margin: 0.4rem auto;
}
.settings-header {
  display: grid;
  grid-row: 1/2;
}
.settings-content {
  display: grid;
  grid-row: 2/3;
}

.settings-inner {
  display: grid;
  grid-template-columns: 9fr 1fr;
  padding: 0.5rem;
}
.setting-value {
  display: grid;
  grid-column: 1/2;
}
.setting-action {
  display: grid;
  grid-column: 2/3;
}

.action-button {
  width: fit-content;
  align-self: center;
}

.divider-line {
  margin: 0 1rem;
}
