<button
  type="button"
  routerLink="/billing"
  mat-mini-fab
  color="white"
  class="close-button"
>
  <mat-icon>close</mat-icon>
</button>
<mat-checkbox [(ngModel)]="bill.cash" color="primary">Cash</mat-checkbox>
<mat-checkbox
  [(ngModel)]="bill.billWeight"
  (change)="updateNetAmount()"
  color="primary"
  >Bill on Weight</mat-checkbox
>
<mat-checkbox
  [(ngModel)]="bill.igst"
  (change)="updateNetAmount()"
  color="primary"
  >IGST</mat-checkbox
>
<button mat-stroked-button (click)="generateBill()" color="primary">
  Generate
</button>
<hr />
<perfect-scrollbar class="add-bill" [config]="{ suppressScrollX: false }">
  <div id="print-section">
    <div class="print-inner">
      <div class="company-details-outer">
        <div class="company-details" style="border-bottom: 1px solid black">
          <span class="company-logo">
            <img
              *ngIf="bill.companyDetails && bill.companyDetails.companyLogo"
              [src]="bill.companyDetails.companyLogo"
            />
          </span>
          <p class="tax-invoice">
            <span><b>TAX INVOICE</b></span>
          </p>
          <p class="details-company">
            <b>{{ bill.companyDetails?.name }}</b> <br />
            {{ bill.companyDetails?.address }} <br />
            Contact: {{ bill.companyDetails?.phoneNumber }},
            {{ bill.companyDetails?.phoneNumber2 }}
            {{ bill.companyDetails?.email }} <br />
            State Code: {{ bill.companyDetails?.stateCode }} <br />
            GSTIN: {{ bill.companyDetails?.gstin }} <br />
            SAC Code:
            {{ bill.companyDetails?.SACCode }}
          </p>
        </div>
      </div>
      <div class="details-outer">
        <div class="details-1">
          <div class="customer-details">
            Details of receiver(Bill to): <br />{{
              bill.customerDetails?.name
            }}
            <br />{{ bill.customerDetails?.address }} <br />Contact:
            {{ bill.customerDetails?.phoneNumber }},
            {{ bill.customerDetails?.phoneNumber2 }}
            {{ bill.customerDetails?.email }} <br />State Code:
            {{ bill.customerDetails?.stateCode }}
            <br />
            GSTIN: {{ bill.customerDetails?.gstin }}<br />
            SAC Code: {{ bill.companyDetails?.SACCode }}<br />
            Your DC No: {{ bill.customerDC }}
            <span
              *ngIf="bill.orderCreatedDate && isDate(bill.orderCreatedDate)"
            >
              <br />Your DC Date: {{ bill.orderCreatedDate | date: "d/M/yy, h:mm a" }}
            </span>
            <span
              *ngIf="bill.orderCreatedDate && !isDate(bill.orderCreatedDate)"
            >
              <br />Your DC Date:
              {{ bill.orderCreatedDate.toDate() | date: "d/M/yy, h:mm a" }}
            </span>
          </div>
          <div class="bill-details">
            Invoice No: {{ bill.billNo }} <br />
            Invoice Date: {{ today | date: "d/M/yy, h:mm a" }} <br />
            Ref PO No.: <input type="text" [(ngModel)]="bill.refPONo" />
            <br />Ref Date:
            <input type="text" [(ngModel)]="bill.refDate" />
            <br />
            <span *ngIf="!bill.multipleOrders">
              Our DC No.: {{ bill.internalDC }}
            </span>
            <span
              *ngIf="bill.orderCreatedDate && isDate(bill.orderCreatedDate)"
            >
              <br />Our DC Date: {{ bill.orderCreatedDate | date: "d/M/yy, h:mm a" }}
            </span>
            <span
              *ngIf="bill.orderCreatedDate && !isDate(bill.orderCreatedDate)"
            >
              <br />Our DC Date:
              {{ bill.orderCreatedDate.toDate() | date: "d/M/yy, h:mm a" }}
            </span>
            <br />
            E-Sugam Details:
            <input type="text" [(ngModel)]="bill.eSugam" />
            <br />Invoice Ref No(GST):
            <input type="text" [(ngModel)]="bill.gstRef" />
            <br />
            Mode of dispatch:
            <input type="text" [(ngModel)]="bill.dispatchMode" />
            <br />
            Vehicle No:
            <input type="text" [(ngModel)]="bill.vehicleNo" />
          </div>
        </div>
      </div>
      <div class="bill-table-outer">
        <table class="bill-table">
          <thead>
            <tr>
              <th width="5%">#</th>
              <th width="30%">Description</th>
              <th width="25%">HSN</th>
              <th width="10%">Qty(Nos)</th>
              <th width="10%">Weight(Kgs)</th>
              <th width="10%">Rate(₹/Kg ₹/Nos)</th>
              <th width="10%">Taxable Value(₹)</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of bill.items; let i = index">
              <td width="5%">{{ i + 1 }}</td>
              <td width="30%"><input type="text" [(ngModel)]="item.name" /></td>
              <td width="25%"><input type="text" [(ngModel)]="item.hsn" /></td>
              <td width="10%">{{ item.quantity }}</td>
              <td width="10%">
                <input
                  type="number"
                  (change)="updateNetAmount()"
                  [(ngModel)]="item.weight"
                />
              </td>
              <td width="10%">
                <input
                  type="number"
                  [(ngModel)]="item.price"
                  (change)="updateNetAmount()"
                />
              </td>
              <td width="10%">
                <ng-container *ngIf="bill.billWeight; else elseTemplate">
                  {{ item.price * item.weight | INRCurrency }}
                </ng-container>
                <ng-template #elseTemplate>
                  {{ item.price * item.quantity | INRCurrency }}
                </ng-template>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="final-table-outer">
        <table class="final-table">
          <tbody>
            <tr>
              <td colspan="9">Payment Terms</td>
              <td>Basic Value</td>
              <td>{{ bill.netAmount | INRCurrency }}</td>
            </tr>
            <tr *ngIf="!bill.igst">
              <td colspan="9"></td>
              <td>
                CGST @
                <input
                  type="number"
                  class="net-amount"
                  [(ngModel)]="bill.gstPercentage"
                  (change)="updateNetAmount()"
                />%
              </td>
              <td>
                {{ bill.netAmount * (bill.gstPercentage / 100) | INRCurrency }}
              </td>
            </tr>
            <tr *ngIf="!bill.igst">
              <td colspan="9"></td>
              <td>SGST @ {{ bill.gstPercentage }}%</td>
              <td>
                {{ bill.netAmount * (bill.gstPercentage / 100) | INRCurrency }}
              </td>
            </tr>
            <tr *ngIf="bill.igst">
              <td colspan="9"></td>
              <td>
                IGST @
                <input
                  type="number"
                  class="net-amount"
                  [(ngModel)]="bill.gstPercentage"
                  (change)="updateNetAmount()"
                />%
              </td>
              <td>
                {{ bill.netAmount * (bill.gstPercentage / 100) | INRCurrency }}
              </td>
            </tr>
            <tr>
              <td colspan="9"></td>
              <td>Sub Total</td>
              <td *ngIf="!bill.igst">
                {{
                  bill.netAmount * ((bill.gstPercentage * 2) / 100)
                    | INRCurrency
                }}
              </td>
              <td *ngIf="bill.igst">
                {{ bill.netAmount * (bill.gstPercentage / 100) | INRCurrency }}
              </td>
            </tr>
            <tr>
              <td colspan="9"></td>
              <td>Round off</td>
              <td *ngIf="!bill.igst">
                {{
                  this.Math.abs(
                    bill.netAmount * (1 + (bill.gstPercentage * 2) / 100) -
                      this.Math.round(
                        bill.netAmount * (1 + (bill.gstPercentage * 2) / 100)
                      )
                  ) | INRCurrency
                }}
              </td>
              <td *ngIf="bill.igst">
                {{
                  bill.netAmount * (1 + bill.gstPercentage / 100) -
                    this.Math.round(
                      bill.netAmount * (1 + bill.gstPercentage / 100)
                    ) | INRCurrency
                }}
              </td>
            </tr>
            <tr>
              <td colspan="9">Invoice remarks</td>
              <td colspan="2">
                <input type="text " [(ngModel)]="bill.invoiceRemarks" />
              </td>
            </tr>
            <tr>
              <td colspan="9">Total invoice value in words</td>
              <td colspan="2">
                {{ bill.grossAmount | numberToWords | titlecase }}
              </td>
            </tr>
            <tr>
              <td colspan="9">Total invoice value in figures</td>
              <td colspan="2">{{ bill.grossAmount | INRCurrency }}</td>
            </tr>
            <tr *ngIf="!bill.igst">
              <td colspan="9">Amount of tax subject to reverse charges</td>
              <td>
                SGST:
                {{ bill.netAmount * (bill.gstPercentage / 100) | INRCurrency }}
              </td>
              <td>
                CGST:
                {{ bill.netAmount * (bill.gstPercentage / 100) | INRCurrency }}
              </td>
            </tr>
            <tr *ngIf="bill.igst">
              <td colspan="9">Amount of tax subject to reverse charges</td>
              <td>
                IGST:
                {{ bill.netAmount * (bill.gstPercentage / 100) | INRCurrency }}
              </td>
            </tr>
            <tr>
              <td colspan="11">For {{ bill.companyDetails?.name }}</td>
            </tr>
            <tr>
              <td colspan="11" style="border-bottom: none;border-top: none">
                <br />
              </td>
            </tr>
            <tr>
              <td colspan="11" style="border-bottom: none;border-top: none">
                <br />
              </td>
            </tr>
            <tr>
              <td colspan="11" style="border-bottom: none;border-top: none">
                <br />
              </td>
            </tr>
            <tr>
              <td colspan="11" style="border-bottom: none;border-top: none">
                <br />
              </td>
            </tr>
            <tr>
              <td colspan="11" style="border-bottom: none;border-top: none">
                <br />
              </td>
            </tr>
            <tr>
              <td colspan="11" style="border-bottom: none;border-top: none">
                <br />
              </td>
            </tr>
            <tr>
              <td style="border: none !important">
                Receiver's Seal and Signature
              </td>
              <td colspan="9" style="border: none !important"></td>
              <td style="border: none !important;text-align: right">
                <b>Authorised Signature</b>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</perfect-scrollbar>
