@import "../../../shared/mixins/mixins.scss";

.search-container {
  width: 95%;
  margin: 10px auto;
  box-shadow: none !important;
}

.mat-column-details {
  display: flex;
  justify-content: flex-end;
}

.mat-input-container {
  font-size: 14px;
  flex-grow: 1;
  margin-left: 32px;
  margin-top: 8px;
}

.search-button {
  margin-right: 0.5em;
}

.no-results {
  display: flex;
  justify-content: center;
  padding: 24px;
  font-size: 12px;
  font-style: italic;
  background: white;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}

.half-width {
  width: 38%;
  margin-right: 1em;
}

.mat-table {
  overflow: auto;
  @include desktop {
    max-height: calc(75vh - 110px);
  }
  @include ipad {
    max-height: calc(75vh);
  }
  max-height: calc(75vh - 300px);
}

.mat-column-createBill {
  display: flex;
  justify-content: flex-end;
  text-align: center;
}
