<mat-card class="card-no-shadow">
  <button
    type="button"
    routerLink="/billing"
    mat-mini-fab
    color="white"
    class="close-button"
  >
    <mat-icon>close</mat-icon>
  </button>
  <mat-card-header>
    <mat-card-title>
      Search Completed Items
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="searchOrdersForm">
      <mat-form-field class="half-width" appearance="outline">
        <mat-label>From Date</mat-label>
        <input
          formControlName="fromDate"
          matInput
          [matDatepicker]="fromDatePicker"
          placeholder="Date"
          required
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="fromDatePicker"
        ></mat-datepicker-toggle>
        <mat-datepicker #fromDatePicker></mat-datepicker>
        <mat-error *ngIf="formControls.fromDate.errors?.required">
          Date is required.
        </mat-error>
        <mat-error *ngIf="formControls.fromDate.errors?.dateRange">
          Date is required.
        </mat-error>
      </mat-form-field>
      <mat-form-field class="half-width" appearance="outline">
        <mat-label>To Date</mat-label>
        <input
          formControlName="toDate"
          matInput
          [matDatepicker]="toDatePicker"
          placeholder="Date"
          required
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="toDatePicker"
        ></mat-datepicker-toggle>
        <mat-datepicker #toDatePicker></mat-datepicker>
        <mat-error *ngIf="formControls.toDate.errors?.required">
          Date is required.
        </mat-error>
        <mat-error *ngIf="formControls.toDate.errors?.dateRange">
          To-date should be greater than From-date.
        </mat-error>
      </mat-form-field>
      <mat-form-field class="half-width" appearance="outline">
        <mat-label>Customer</mat-label>
        <input
          matInput
          formControlName="customerUID"
          [matAutocomplete]="auto"
          (change)="checkCustomerName()"
          required
        />
        <mat-error *ngIf="formControls.customerUID.errors?.required">
          Customer is required.
        </mat-error>
        <mat-error *ngIf="formControls.customerUID.errors?.inList">
          Please select customer from the list.
        </mat-error>
      </mat-form-field>
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option
          *ngFor="let option of customerFilteredOptions | async"
          [value]="option"
        >
          {{ option }}
        </mat-option>
      </mat-autocomplete>
      <button
        mat-icon-button
        (click)="changeDataSource()"
        [disabled]="!searchOrdersForm.valid"
        color="primary"
        class="search-button"
      >
        <mat-icon class="mat-18">search</mat-icon>
      </button>
      <button
        mat-icon-button
        type="button"
        color="accent"
        (click)="initialDataSource()"
      >
        <mat-icon class="mat-18">close</mat-icon>
      </button>
    </form>
  </mat-card-content>
</mat-card>

<div [style.display]="dataSource ? '' : 'none'">
  <mat-table #table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="select">
      <mat-header-cell *matHeaderCellDef>
        <mat-checkbox
          (change)="$event ? masterToggle() : null"
          [checked]="isAllSelected()"
          [indeterminate]="selection.hasValue() && !isAllSelected()"
        >
        </mat-checkbox>
      </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <mat-checkbox
          (click)="$event.stopPropagation()"
          (change)="$event ? selection.toggle(row) : null"
          [checked]="selection.isSelected(row)"
        >
        </mat-checkbox>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="customerName">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        Customer Name
      </mat-header-cell>
      <mat-cell *matCellDef="let row" class="createdCell">
        {{ row.customerName }}
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        Item Description
      </mat-header-cell>
      <mat-cell *matCellDef="let row" class="createdCell">
        {{ row.name }}
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="quantity">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        Quantity
      </mat-header-cell>
      <mat-cell *matCellDef="let row" class="createdCell">
        {{ row.quantity }}
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="weight">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        Weight
      </mat-header-cell>
      <mat-cell *matCellDef="let row" class="createdCell">
        {{ row.weight }}
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="customerDC">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        Customer DC
      </mat-header-cell>
      <mat-cell *matCellDef="let row" class="createdCell">
        {{ row.customerDC }}
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="createBill">
      <mat-header-cell *matHeaderCellDef>
        <button
          mat-raised-button
          type="button"
          *ngIf="selection.selected.length > 0"
          (click)="createBill()"
          color="primary"
        >
          Create Bill
        </button>
      </mat-header-cell>
      <mat-cell *matCellDef="let row"> </mat-cell>
    </ng-container>
    <mat-header-row
      *matHeaderRowDef="displayedColumns; sticky: true"
    ></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"> </mat-row>
  </mat-table>
  <div
    class="no-results"
    [style.display]="dataSource?.renderedData.length == 0 ? '' : 'none'"
  >
    No items found matching search criteria.
  </div>

  <mat-paginator
    #paginator
    [length]="dataSource?.retrievedData.length"
    [pageIndex]="0"
    [pageSize]="10"
    [pageSizeOptions]="[5, 10, 25]"
  >
  </mat-paginator>
</div>
