@import "../../shared/mixins/mixins.scss";

.example-header {
  min-height: 56px;
  max-height: 56px;
  display: flex;
  align-items: center;
  padding: 8px 24px 0;
  font-size: 20px;
  justify-content: space-between;
  border-bottom: 1px solid transparent;
}

.mat-column-details {
  overflow: scroll;
  @include desktop {
    overflow: unset;
    display: flex;
    justify-content: flex-end;
  }
  @include ipad {
    overflow: unset;
    display: flex;
    justify-content: flex-end;
  }
}

.button-span {
  display: inline-flex;
}

.right-margin {
  margin-right: 5px;
}
.mat-input-container {
  font-size: 14px;
  flex-grow: 1;
  margin-left: 32px;
  margin-top: 8px;
}

.no-results {
  display: flex;
  justify-content: center;
  padding: 24px;
  font-size: 12px;
  font-style: italic;
  background: white;
}

.mat-table {
  overflow: auto;
  @include desktop {
    max-height: calc(75vh - 110px);
  }
  max-height: calc(75vh - 200px);

  @include ipad {
    max-height: 75vh;
  }
}

#companyLogo {
  display: none;
}
