@import "../../../shared/mixins/mixins.scss";
.spacer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  background-color: white;
}

.options-button {
  left: 45vw;
  @include desktop {
    left: calc(40vw + 199px);
  }

  @include ipad {
    left: calc(48vw + 80px);
  }
}
