<span class="spacer" *ngIf="core.user | async" (swipeUp)="launchBottomSheet()">
  <span *appHasRole="['admin', 'receptionist', 'owner']">
    <button class="options-button" type="button" aria-label="Change theme" mat-icon-button (click)="launchBottomSheet()"
      color="primary" matTooltip="Options" matTooltipPosition="after">
      <mat-icon aria-label="Options" class="themeIcon">keyboard_arrow_up</mat-icon>
    </button>
  </span>
</span>