@keyframes play420 {
  0% {
    background-position: 0px 0px;
  }
  100% {
    background-position: -215040px 0px;
  }
}
.shapeshifter {
  animation-duration: 7000ms;
  animation-timing-function: steps(420);
  animation-iteration-count: infinite;
  width: 256px;
  height: 256px;
  background-repeat: no-repeat;
  background-image: url("/assets/loading_60fps.svg");
  background-size: cover;
  margin: auto;
}
.shapeshifter.play {
  animation-name: play420;
}

.loading-text {
  text-align: center;
}
