@import "../../../shared/mixins/mixins.scss";

.department-name {
  margin: 0;
  display: inline;
}

.add-circle-button {
  font-size: 24px;
}
.add-department-button {
  float: right;
}
.delete-button {
  margin: 0;
  float: right;
}

.edit-departments-form {
  height: calc(100vh - 190px);
  margin: 0;
  padding: 0;
  @include desktop {
    height: calc(100vh - 135px);
  }
}
