<mat-card class="card-no-shadow">
  <button
    type="button"
    routerLink="/settings"
    mat-mini-fab
    color="white"
    class="close-button"
  >
    <mat-icon>close</mat-icon>
  </button>
  <mat-card-title>
    Update Departments
  </mat-card-title>
  <mat-card-content>
    <form [formGroup]="editDepartmentsForm" (ngSubmit)="updateDepartments()">
      <perfect-scrollbar class="edit-departments-form">
        <br />
        <div formArrayName="departments">
          <div
            *ngFor="let department of departmentForms.controls; let i = index"
            [formGroupName]="i"
          >
            <h2 class="department-name">Department {{ i + 1 }}</h2>
            <button
              mat-icon-button
              class="delete-button"
              (click)="deleteDepartment(i)"
            >
              <mat-icon aria-label="Delete Item" color="warn">delete</mat-icon>
            </button>
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Name</mat-label>
              <input matInput formControlName="name" required />
              <mat-error *ngIf="getValidity(i)">
                Name is required.
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </perfect-scrollbar>
      <mat-card-actions class="card-actions">
        <button
          mat-stroked-button
          color="accent"
          type="submit"
          [disabled]="
            editDepartmentsForm.invalid || editDepartmentsForm.pristine
          "
        >
          Update Departments
        </button>
        <button
          type="button"
          mat-icon-button
          color="primary"
          class="add-department-button"
          (click)="addDepartment()"
        >
          <mat-icon class="add-circle-button">add_circle</mat-icon>
        </button>
      </mat-card-actions>
    </form>
  </mat-card-content>
</mat-card>
