@import "../../../shared/mixins/mixins.scss";

.example-month-picker .mat-calendar-period-button {
  pointer-events: none;
}

.example-month-picker .mat-calendar-arrow {
  display: none;
}

.gst-report-card {
  @include desktop {
    min-width: 30vw;
  }
  @include ipad {
    min-width: 60vw;
  }
  min-width: 80vw;
}
