<mat-card class="card-no-shadow gst-report-card">
  <mat-card-header>
    <mat-card-title>GST Invoice List</mat-card-title>
    <mat-card-subtitle>Select month and year</mat-card-subtitle>
  </mat-card-header>
  <form [formGroup]="searchDateForm" (ngSubmit)="downloadReport()">
    <mat-card-content>
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Month/Year</mat-label>
        <input
          matInput
          [matDatepicker]="dp"
          placeholder="Month and Year"
          formControlName="fromDate"
        />
        <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
        <mat-datepicker
          #dp
          startView="year"
          (yearSelected)="chosenYearHandler($event)"
          (monthSelected)="chosenMonthHandler($event, dp)"
          panelClass="example-month-picker"
        >
        </mat-datepicker>
        <mat-error *ngIf="formControls.fromDate.errors?.required">
          Date is required.
        </mat-error>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions class="card-actions">
      <button
        mat-stroked-button
        color="primary"
        type="submit"
        [disabled]="searchDateForm.invalid"
      >
        Download
      </button>
    </mat-card-actions>
  </form>
</mat-card>
