<button
  type="button"
  class="close-button"
  mat-mini-fab
  color="white"
  (click)="dialogRef.close()"
>
  <mat-icon>close</mat-icon>
</button>
<slideshow
  [showArrows]="imageSources.length > 1"
  [imageUrls]="imageSources"
  backgroundSize="contain"
>
</slideshow>
