<div [style.display]="dataSource ? '' : 'none'">
  <mat-tab-group
    class="card-no-shadow"
    (selectedTabChange)="onLinkClick($event)"
    [(selectedIndex)]="tabIndex"
  >
    <mat-tab label="Employees"></mat-tab>
    <mat-tab label="Customers"></mat-tab>
    <mat-tab label="Subcontractors"></mat-tab>
  </mat-tab-group>
  <form class="filter-form">
    <mat-form-field appearance="outline" class="filter ">
      <mat-label>Name</mat-label>
      <input
        matInput
        #filter
        type="name"
        [value]="filterValue"
        placeholder="Filter Users"
        name="nameFilter"
        required
      />
    </mat-form-field>
  </form>
  <mat-table #table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="select">
      <mat-header-cell *matHeaderCellDef>
        <mat-checkbox
          (change)="$event ? masterToggle() : null"
          [checked]="isAllSelected()"
          [indeterminate]="selection.hasValue() && !isAllSelected()"
        >
        </mat-checkbox>
      </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <mat-checkbox
          (click)="$event.stopPropagation()"
          (change)="$event ? selection.toggle(row.uid) : null"
          [checked]="selection.isSelected(row.uid)"
        >
        </mat-checkbox>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="employeeName">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        Name
      </mat-header-cell>
      <mat-cell *matCellDef="let row" class="name-cell">
        {{ row.name }}
        <button mat-icon-button (click)="openUserProfile(row.uid)">
          <mat-icon aria-label="View Details" color="primary">info</mat-icon>
        </button>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="customerName">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        Name
      </mat-header-cell>
      <mat-cell *matCellDef="let row" class="user-name" class="name-cell">
        {{ row.name }}
        <button mat-icon-button (click)="openUserProfile(row.uid)">
          <mat-icon aria-label="View Details" color="primary">info</mat-icon>
        </button>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="subvendorName">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        Name
      </mat-header-cell>
      <mat-cell *matCellDef="let row" class="name-cell">
        {{ row.name }}
        <button mat-icon-button (click)="openUserProfile(row.uid)">
          <mat-icon aria-label="View Details" color="primary">info</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="employeeEdit">
      <mat-header-cell *matHeaderCellDef>
        <button
          mat-icon-button
          type="button"
          *ngIf="selection.selected.length > 0"
          (click)="setAttendance()"
          color="primary"
        >
          <mat-icon>check_circle</mat-icon>
        </button>
        <button
          mat-icon-button
          type="button"
          *ngIf="selection.selected.length > 0"
          (click)="setOutTime()"
          color="accent"
          class="timer-button"
        >
          <mat-icon>timer</mat-icon>
        </button>
      </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button mat-icon-button class="edit-button" (click)="setUser(row.uid)">
          <mat-icon aria-label="Edit">edit</mat-icon>
        </button>
        <button
          *appHasRole="['admin', 'owner']"
          mat-icon-button
          (click)="deleteUser(row)"
        >
          <mat-icon aria-label="Delete" color="warn">delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="customerEdit">
      <mat-header-cell *matHeaderCellDef> </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button mat-icon-button class="edit-button" (click)="setUser(row.uid)">
          <mat-icon aria-label="Edit">edit</mat-icon>
        </button>
        <button
          *appHasRole="['admin', 'owner']"
          mat-icon-button
          (click)="deleteUser(row)"
        >
          <mat-icon aria-label="Delete" color="warn">delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="subvendorEdit">
      <mat-header-cell *matHeaderCellDef> </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button mat-icon-button class="edit-button" (click)="setUser(row.uid)">
          <mat-icon aria-label="Edit">edit</mat-icon>
        </button>
        <button
          *appHasRole="['admin', 'owner']"
          mat-icon-button
          (click)="deleteUser(row)"
        >
          <mat-icon aria-label="Delete" color="warn">delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="presentThisMonth">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        Days present
      </mat-header-cell>
      <mat-cell *matCellDef="let row" class="name-cell">
        {{ row.presentThisMonth }}
        <button mat-icon-button (click)="openMonthlyAttendance(row.uid)">
          <mat-icon aria-label="View Details" color="accent">info</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="creditAmount">
      <mat-header-cell *matHeaderCellDef mat-sort-header
        >Credit Amount</mat-header-cell
      >
      <mat-cell *matCellDef="let row" class="name-cell">
        {{ row.creditAmount | INRCurrency: true }}
        <button
          *ngIf="row.creditAmount !== 0"
          mat-icon-button
          (click)="openCustomerList(row.uid)"
        >
          <mat-icon aria-label="View Details" color="accent">info</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="amountDue">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        Amount Due
      </mat-header-cell>
      <mat-cell *matCellDef="let row" class="name-cell">
        {{ row.amountDue | INRCurrency: true }}
        <button
          *ngIf="row.amountDue !== 0"
          mat-icon-button
          (click)="openSubvendorList(row.uid)"
        >
          <mat-icon aria-label="View Details" color="accent">info</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true">
    </mat-header-row>
    <mat-row
      *matRowDef="let row; columns: displayedColumns"
      [class.selected-row]="selection.isSelected(row.uid)"
    >
    </mat-row>
  </mat-table>
  <div
    class="no-results"
    [style.display]="dataSource?.renderedData.length == 0 ? '' : 'none'"
  >
    No users found matching filter.
  </div>

  <mat-paginator
    #paginator
    [length]="dataSource?.filteredData.length"
    [pageIndex]="0"
    [pageSize]="25"
    [pageSizeOptions]="[5, 10, 25, 100]"
  >
  </mat-paginator>
</div>
