@import "../../shared/mixins/mixins.scss";

.mat-column-presentThisMonth {
  display: flex;
  justify-content: flex-end;
  text-align: center;
}

.timer-button {
  margin-left: 10px;
}

perfect-scrollbar {
  background: white;
}

.mat-column-amountDue {
  display: flex;
  justify-content: flex-end;
  text-align: center;
}

.mat-column-creditAmount {
  display: flex;
  justify-content: flex-end;
  text-align: center;
}

.mat-column-employeeEdit {
  display: flex;
  justify-content: flex-end;
  text-align: center;
}

.mat-column-customerEdit {
  display: flex;
  justify-content: flex-end;
}

.mat-column-subvendorEdit {
  display: flex;
  justify-content: flex-end;
}

.name-cell {
  &:hover {
    .edit-button {
      opacity: 1;
    }
  }
}

.mat-input-container {
  font-size: 14px;
  flex-grow: 1;
  margin-left: 32px;
  margin-top: 8px;
}

.no-results {
  display: flex;
  justify-content: center;
  padding: 24px;
  font-size: 12px;
  font-style: italic;
  background: white;
}

/** Selection styles */

.selection-header {
  font-size: 18px;
  background: rgba(255, 64, 129, 0.3);
  border-bottom: 1px solid #d696ac;
}

.mat-column-select {
  max-width: 54px;
}

.mat-row:hover,
.selected-row {
  background: #e7e7e7;
}

.mat-row:active,
.mat-row.selected-row {
  background: #e7e7e7;
}

.mat-table {
  overflow: auto;
  @include desktop {
    max-height: calc(75vh - 110px);
  }
  max-height: calc(75vh - 200px);

  @include ipad {
    max-height: 75vh;
  }
}

.stretched-tabs {
  max-width: 100vw;
}

.mat-column-subvendorName[role="gridcell"] {
  overflow: inherit;
}
