@import "../../../shared/mixins/mixins.scss";

.example-month-picker .mat-calendar-period-button {
  pointer-events: none;
}

.example-month-picker .mat-calendar-arrow {
  display: none;
}

.attendance-table-grid {
  max-height: calc(75vh - 75px);
}

.attendance-table {
  width: 100%;
  text-align: center;
}

.td--40 {
  width: 50%;
}
.form-field-width {
  width: 70% !important;
}

#attendance {
  border-collapse: collapse;
  width: 100%;
  text-align: center;
}

#attendance td,
#attendance th {
  border: 1px solid #ddd;
}

#attendance td {
  padding: 6px;
}

#attendance tr:nth-child(even) {
  background-color: #f2f2f2;
}

#attendance th {
  text-align: center;
  background-color: #2f80ed;
  color: white;
}
