<button
  type="button"
  mat-mini-fab
  color="white"
  class="close-button"
  (click)="dialogRef.close()"
>
  <mat-icon>close</mat-icon>
</button>
<mat-card class="card-no-shadow attendance-card">
  <mat-card-header>
    <mat-card-title>Attendance</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="searchDateForm" (ngSubmit)="getAttendance()">
      <mat-form-field appearance="outline" class="form-field-width">
        <mat-label>Month/Year</mat-label>
        <input
          matInput
          [matDatepicker]="dp"
          placeholder="Month and Year"
          formControlName="fromDate"
        />
        <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
        <mat-datepicker
          #dp
          startView="year"
          (yearSelected)="chosenYearHandler($event)"
          (monthSelected)="chosenMonthHandler($event, dp)"
          panelClass="example-month-picker"
        >
        </mat-datepicker>
        <mat-error *ngIf="formControls.fromDate.errors?.required">
          Date is required.
        </mat-error>
      </mat-form-field>
      <button
        mat-icon-button
        type="submit"
        [disabled]="!searchDateForm.valid"
        color="primary"
        class="search-button"
      >
        <mat-icon class="mat-18">search</mat-icon>
      </button>
      <button
        mat-icon-button
        type="button"
        color="accent"
        (click)="initialDataSource()"
      >
        <mat-icon class="mat-18">close</mat-icon>
      </button>
    </form>
  </mat-card-content>
</mat-card>
<mat-card class="card-no-shadow">
  <mat-card-content>
    <perfect-scrollbar class="attendance-table-grid">
      <table id="attendance">
        <thead *ngIf="presentDays > 0">
          <tr>
            <th class="td--40 ">
              <h3>
                Date
              </h3>
            </th>
            <th class="td--40 ">
              <h3>
                Out-time
              </h3>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let day of attendance | async | keyvalue"
            class="mat-typography"
          >
            <td class="td--40 ">{{ day.key }}</td>
            <td class="td--40 ">{{ day.value }}</td>
          </tr>
        </tbody>
        <tfoot>
          <div *ngIf="presentDays === 0; else presentTotal">
            No records found.
          </div>
          <ng-template #presentTotal>
            <h3>
              Total:
              <strong>
                {{ presentDays }}
              </strong>
            </h3>
          </ng-template>
        </tfoot>
      </table>
    </perfect-scrollbar>
  </mat-card-content>
</mat-card>
