@import "../../../shared/mixins/mixins.scss";

.margin-0 {
  margin: 0;
}

.delete-button {
  position: absolute;
  right: 5px;
  top: 0px;
}

.top-margin--20 {
  margin-top: 20px;
}

.add-item {
  font-size: 24px;
  float: right;
}

.create-order-form {
  height: calc(100vh - 250px);
  margin: 0;
  padding: 0;
  @include desktop {
    height: calc(100vh - 170px);
  }
}
