<mat-card class="card-no-shadow">
  <button
    type="button"
    routerLink="/order"
    mat-mini-fab
    color="white"
    class="close-button"
  >
    <mat-icon>close</mat-icon>
  </button>
  <mat-card-header>
    <mat-card-title>
      Create Order
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="createOrderForm" (ngSubmit)="createOrder()">
      <perfect-scrollbar class="create-order-form">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Customer</mat-label>
          <input
            matInput
            formControlName="customerName"
            [matAutocomplete]="auto"
            (change)="checkName()"
            required
          />
          <mat-error *ngIf="formControls.customerName.errors?.required">
            Customer is required.
          </mat-error>
          <mat-error *ngIf="formControls.customerName.errors?.inList">
            Please select customer from the list.
          </mat-error>
        </mat-form-field>
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option
            *ngFor="let option of (filteredOptions | async)"
            [value]="option"
          >
            {{ option }}
          </mat-option>
        </mat-autocomplete>
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Customer DC</mat-label>
          <input matInput formControlName="customerDC" />
        </mat-form-field>
        <mat-form-field class="full-width" appearance="outline">
          <input
            formControlName="estimatedFinishDate"
            matInput
            [matDatepicker]="picker"
            placeholder="Estimated Finish Date"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error *ngIf="formControls.estimatedFinishDate.errors?.dateRange">
            Estimated Finish Date has to be after today.
          </mat-error>
        </mat-form-field>
        <h2 class="margin-0">Items</h2>
        <br />
        <div formArrayName="items">
          <div
            *ngFor="let item of itemForms.controls; let i = index"
            [formGroupName]="i"
          >
            <mat-card class="mat-elevation-z8">
              <mat-card-header>
                <mat-card-title class="margin-0">
                  <h2>Item {{ i + 1 }}</h2>
                  <button
                    mat-icon-button
                    class="delete-button"
                    (click)="deleteItem(i)"
                  >
                    <mat-icon aria-label="Delete Item" color="warn"
                      >delete</mat-icon
                    >
                  </button>
                </mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <mat-form-field class="full-width" appearance="outline">
                  <mat-label>Name</mat-label>
                  <input matInput formControlName="name" />
                </mat-form-field>
                <span
                  >Photo
                  <input
                    #fileInput
                    type="file"
                    (change)="fileChangeEvent($event, i)"
                    accept="image/jpeg, .jpeg, image/png, .png, image/pjpeg, .jpg"
                    multiple
                  />
                </span>
                <br />
                <mat-form-field
                  class="full-width top-margin--20"
                  appearance="outline"
                >
                  <mat-label>Weight</mat-label>
                  <input matInput formControlName="weight" type="number" />
                  <p matSuffix>kgs</p>
                </mat-form-field>
                <mat-form-field class="full-width" appearance="outline">
                  <mat-label>Quantity</mat-label>
                  <input
                    matInput
                    formControlName="quantity"
                    type="number"
                    required
                  />
                  <mat-error
                    *ngIf="
                      itemForms.at(i).controls.quantity.errors?.required &&
                      itemForms.at(i).controls.quantity.touched
                    "
                  >
                    Quantity is required.
                  </mat-error>
                </mat-form-field>
                <mat-form-field class="full-width" appearance="outline">
                  <mat-label>HSN</mat-label>
                  <textarea matInput formControlName="hsn"></textarea>
                </mat-form-field>
                <mat-form-field class="full-width" appearance="outline">
                  <mat-label>Remark</mat-label>
                  <textarea matInput formControlName="remark"></textarea>
                </mat-form-field>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
      </perfect-scrollbar>
      <mat-card-actions class="card-actions">
        <button
          mat-stroked-button
          type="submit"
          color="primary"
          [disabled]="
            createOrderForm.invalid || itemForms.length === 0 || uploadingImages
          "
        >
          Create Order
        </button>
        <button
          type="button"
          class="add-item"
          mat-icon-button
          color="primary"
          [disabled]="createOrderForm.invalid"
          (click)="addItem()"
        >
          <mat-icon>add_circle</mat-icon>
        </button>
      </mat-card-actions>
    </form>
  </mat-card-content>
</mat-card>
