<img
  *ngIf="companyDetails && companyDetails.companyLogo"
  [src]="companyDetails.companyLogo"
  crossOrigin="Anonymous"
  (load)="onImageLoad()"
  id="companyLogo"
/>
<mat-card class="card-no-shadow search-card">
  <mat-card-header>
    <mat-card-title>
      Search Bills
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form
      [formGroup]="searchBillForm"
      (ngSubmit)="changeDataSource(null, null)"
    >
      <mat-form-field appearance="outline" class="half-width">
        <mat-label>Field</mat-label>
        <mat-select
          formControlName="searchField"
          (selectionChange)="clearForm()"
        >
          <mat-option>None</mat-option>
          <mat-option value="createdAt">Date</mat-option>
          <mat-option value="billNo">Bill No</mat-option>
          <mat-option value="customerDC">Customer DC</mat-option>
          <mat-option value="orderUID">Order ID</mat-option>
          <mat-option value="internalDC">Internal DC</mat-option>
          <mat-option value="customerUID">Customer Name</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field
        *ngIf="
          formControls.searchField.value === 'billNo' ||
          formControls.searchField.value === 'internalDC' ||
          formControls.searchField.value === 'customerDC' ||
          formControls.searchField.value === 'orderUID'
        "
        appearance="outline"
        class="half-width"
      >
        <mat-label>Search</mat-label>
        <input
          matInput
          type="name"
          placeholder="Search"
          name="billSearch"
          formControlName="searchTerm"
          required
        />
        <mat-error *ngIf="formControls.searchTerm.errors?.required">
          Search term is required.
        </mat-error>
      </mat-form-field>
      <mat-form-field
        *ngIf="formControls.searchField.value === 'customerUID'"
        class="half-width"
        appearance="outline"
      >
        <mat-label>Customer</mat-label>
        <input
          matInput
          formControlName="searchTerm"
          [matAutocomplete]="auto"
          (change)="checkCustomerName()"
          required
        />
        <mat-error *ngIf="formControls.searchTerm.errors?.required">
          Customer is required.
        </mat-error>
        <mat-error *ngIf="formControls.searchTerm.errors?.inList">
          Please select customer from the list.
        </mat-error>
      </mat-form-field>
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option
          *ngFor="let option of customerFilteredOptions | async"
          [value]="option"
        >
          {{ option }}
        </mat-option>
      </mat-autocomplete>
      <mat-form-field
        *ngIf="
          formControls.searchField.value === 'customerUID' ||
          formControls.searchField.value === 'createdAt'
        "
        class="half-width"
        appearance="outline"
      >
        <mat-label>From Date</mat-label>
        <input
          formControlName="fromDate"
          matInput
          [matDatepicker]="pickerFromDate"
          placeholder="Date"
          required
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="pickerFromDate"
        ></mat-datepicker-toggle>
        <mat-datepicker #pickerFromDate></mat-datepicker>
        <mat-error *ngIf="formControls.fromDate.errors?.required">
          Date is required.
        </mat-error>
        <mat-error *ngIf="formControls.fromDate.errors?.dateRange">
          Date is required.
        </mat-error>
      </mat-form-field>
      <mat-form-field
        *ngIf="
          formControls.searchField.value === 'customerUID' ||
          formControls.searchField.value === 'createdAt'
        "
        class="half-width"
        appearance="outline"
      >
        <mat-label>To Date</mat-label>
        <input
          formControlName="toDate"
          matInput
          [matDatepicker]="pickerToDate"
          placeholder="Date"
          required
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="pickerToDate"
        ></mat-datepicker-toggle>
        <mat-datepicker #pickerToDate></mat-datepicker>
        <mat-error *ngIf="formControls.toDate.errors?.required">
          Date is required.
        </mat-error>
        <mat-error *ngIf="formControls.toDate.errors?.dateRange">
          To-date should be greater than From-date.
        </mat-error>
      </mat-form-field>
      <button
        mat-icon-button
        type="submit"
        [disabled]="!searchBillForm.valid"
        color="primary"
        class="search-button"
      >
        <mat-icon class="mat-18">search</mat-icon>
      </button>
      <button
        mat-icon-button
        type="button"
        color="accent"
        (click)="initialDataSource()"
      >
        <mat-icon class="mat-18">close</mat-icon>
      </button>
      <!--       </mat-card-actions> -->
    </form>
  </mat-card-content>
</mat-card>

<div [style.display]="dataSource ? '' : 'none'">
  <mat-table
    #table
    [dataSource]="dataSource"
    matSort
    [ngClass]="{
      'bigger-search':
        formControls.searchField.value === 'customerUID' ||
        formControls.searchField.value === 'createdAt'
    }"
  >
    <ng-container matColumnDef="createdAt">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        Created
      </mat-header-cell>
      <mat-cell *matCellDef="let row" class="createdCell">
        {{ row.createdAt.toDate() | date: "MMM d, y" }}
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="customerName">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        Customer Name
      </mat-header-cell>
      <mat-cell *matCellDef="let row" class="customerNameCell">
        {{ row.customerName }}
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="cash">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        Cash
      </mat-header-cell>
      <mat-cell *matCellDef="let row" class="cashCell">
        <span *ngIf="row.cash"> {{ row.grossAmount | INRCurrency: true }}</span>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="credit">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        Credit
      </mat-header-cell>
      <mat-cell *matCellDef="let row" class="creditCell">
        <span *ngIf="!row.cash">
          {{ row.grossAmount | INRCurrency: true }}</span
        >
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="billNo">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        Bill No
      </mat-header-cell>
      <mat-cell *matCellDef="let row">
        {{ row.billNo }}
        <button (click)="copyToClipboard(row.billNo)" mat-icon-button>
          <mat-icon>file_copy</mat-icon>
        </button>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="paymentReceived">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        Payment
      </mat-header-cell>
      <mat-cell *matCellDef="let row" class="creditCell">
        <ng-container *ngIf="!row?.paymentReceived; else paymentReceived">
          <span *ngIf="!row.cash">
            <button
              mat-stroked-button
              type="button"
              color="primary"
              (click)="paymentReceived(row)"
            >
              Received
            </button>
          </span>
        </ng-container>
        <ng-template #paymentReceived>
          <mat-chip-list *ngIf="row.type === 'income'">
            <mat-chip>Payment Received</mat-chip>
          </mat-chip-list>
        </ng-template>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="details">
      <mat-header-cell *matHeaderCellDef>
        <button
          type="button"
          mat-icon-button
          color="primary"
          routerLink="multiple-billing"
        >
          <mat-icon class="multiple-billing-button">add_circle</mat-icon>
        </button>
        <button
          *ngIf="!(isHandset$ | async)"
          type="button"
          mat-stroked-button
          color="accent"
          (click)="openGSTReport()"
        >
          Monthly Statement
        </button>
      </mat-header-cell>
      <mat-cell *matCellDef="let row" class="detailsCell">
        <span
          *ngIf="companyLogoDataURL && companyLogoDataURL.length > 1"
          class="button-span"
        >
          <button mat-icon-button (click)="openBill(row, 'download')">
            <mat-icon aria-label="View Details" color="primary"
              >arrow_downward</mat-icon
            >
          </button>
          <button
            *ngIf="!(isHandset$ | async)"
            mat-icon-button
            (click)="openBill(row, 'view')"
          >
            <mat-icon aria-label="View Details" color="accent">info</mat-icon>
          </button>
          <button
            *ngIf="!(isHandset$ | async)"
            mat-icon-button
            (click)="openBill(row, 'print')"
          >
            <mat-icon aria-label="View Details" color="primary">print</mat-icon>
          </button>
        </span>
        <button
          *appHasRole="['admin', 'owner']"
          mat-icon-button
          (click)="deleteBill(row)"
        >
          <mat-icon aria-label="Delete" color="warn">delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row
      *matHeaderRowDef="displayedColumns; sticky: true"
    ></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"> </mat-row>
  </mat-table>
  <div
    class="no-results"
    [style.display]="dataSource?.renderedData.length == 0 ? '' : 'none'"
  >
    No bills found matching search criteria.
  </div>

  <mat-paginator
    #paginator
    [length]="dataSource?.filteredData.length"
    [pageIndex]="0"
    [pageSize]="10"
    [pageSizeOptions]="[5, 10, 25]"
  >
  </mat-paginator>
</div>
