@import "../../shared/mixins/mixins.scss";

.mat-column-details {
  overflow: scroll;
  @include desktop {
    overflow: unset;
    display: flex;
    justify-content: flex-end;
  }
  @include ipad {
    overflow: unset;
    display: flex;
    justify-content: flex-end;
  }
}

.button-span {
  display: inline-flex;
}

mat-header-cell.mat-column-details {
  display: flex;
  justify-content: flex-end;
}

.search-button {
  margin-right: 0.5em;
}
.multiple-billing-button {
  font-size: 24px;
}
.mat-input-container {
  font-size: 14px;
  flex-grow: 1;
  margin-left: 32px;
  margin-top: 8px;
}

.no-results {
  display: flex;
  justify-content: center;
  padding: 24px;
  font-size: 12px;
  font-style: italic;
  background: white;
}

.mat-table {
  overflow: auto;
  @include desktop {
    max-height: calc(75vh - 110px);
  }
  max-height: calc(75vh - 200px);

  @include ipad {
    max-height: 75vh;
  }
}

#companyLogo {
  display: none;
}
