<button
  type="button"
  routerLink="/settings"
  mat-mini-fab
  color="white"
  class="close-button"
>
  <mat-icon>close</mat-icon>
</button>
<mat-card class="card-no-shadow">
  <mat-card-title>Enter email</mat-card-title>
  <mat-card-content>
    <form
      [formGroup]="changeEmailForm"
      (ngSubmit)="changeEmail(formControls.email.value)"
    >
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Email</mat-label>
        <input matInput type="email" formControlName="email" required />
        <mat-error
          *ngIf="formControls.email.errors?.email && formControls.email.dirty"
        >
          Please enter a valid email address.
        </mat-error>
        <mat-error
          *ngIf="
            formControls.email.errors?.required && formControls.email.dirty
          "
        >
          Email is required.
        </mat-error>
      </mat-form-field>
      <mat-card-actions class="card-actions">
        <button
          mat-stroked-button
          type="submit"
          color="primary"
          [disabled]="changeEmailForm.invalid"
        >
          Change Email
        </button>
      </mat-card-actions>
    </form>
  </mat-card-content>
</mat-card>
