<button
  type="button"
  mat-mini-fab
  color="white"
  class="close-button"
  (click)="dialogRef.close()"
>
  <mat-icon>close</mat-icon>
</button>
<div class="transaction-details">
  <mat-card class="card-no-shadow">
    <mat-card-title>
      Transaction Details
    </mat-card-title>
    <mat-card-content>
      <table id="transactionTable">
        <tr *ngFor="let transactionProp of transaction | keyvalue">
          <td class="td--40">
            <strong>
              {{ transactionProp.key | humanize }}
            </strong>
          </td>
          <td class="td--60">
            <ng-container
              *ngIf="
                (!isDate(transactionProp.value) &&
                  transactionProp.key === 'createdAt') ||
                  transactionProp.key === 'receivedAt';
                else elseTemplate
              "
            >
              {{ transactionProp.value.toDate() | date: "d/M/yy, h:mm a" }}
            </ng-container>
            <ng-template #elseTemplate>
              <ng-container
                *ngIf="
                  transactionProp.key === 'cash' ||
                    transactionProp.key === 'paymentReceived';
                  else elseTemplate2
                "
              >
                <mat-checkbox
                  [disabled]="true"
                  [ngModel]="transaction[transactionProp.key]"
                >
                </mat-checkbox>
              </ng-container>
              <ng-template #elseTemplate2>
                <ng-container
                  *ngIf="transactionProp.key === 'amount'; else elseTemplate3"
                >
                  {{ transactionProp.value | INRCurrency: true}}
                </ng-container>
                <ng-template #elseTemplate3>
                  {{ transactionProp.value }}</ng-template
                >
              </ng-template>
            </ng-template>
          </td>
        </tr>
      </table>
    </mat-card-content>
  </mat-card>
</div>
