@import "../../../shared/mixins/mixins.scss";

.transaction-details {
  @include desktop {
    width: 40vw;
  }

  @include ipad {
    width: 50vw;
  }
  width: unset;
  margin: 0 auto;
}

.td--40 {
  width: 40%;
}
.td--60 {
  width: 60%;
}

table#transactionTable {
  table-layout: fixed;
  width: 100%;
}
table#transactionTable td {
  padding: 3px;
}
