<button
  type="button"
  mat-mini-fab
  color="white"
  (click)="dialogRef.close()"
  class="close-button"
>
  <mat-icon>close</mat-icon>
</button>
<mat-card class="card-no-shadow edit-details-card">
  <h2 mat-card-title>
    Edit Details
  </h2>
  <mat-card-content>
    <form [formGroup]="editForm" (ngSubmit)="updateUser()">
      <perfect-scrollbar class="edit-details-content">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Name</mat-label>
          <input
            matInput
            type="name"
            [value]="user.displayName ? user.displayName : ''"
            readonly
          />
        </mat-form-field>
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Email</mat-label>
          <input
            matInput
            type="email"
            [value]="user.email ? user.email : ''"
            readonly
          />
        </mat-form-field>
        <span
          >Photo
          <input
            #fileInput
            type="file"
            (change)="uploadPhoto($event)"
            accept="image/jpeg, .jpeg, image/png, .png, image/pjpeg, .jpg"
          />
        </span>
        <br />
        <mat-form-field appearance="outline" class="full-width form-top-margin">
          <mat-label>Address</mat-label>
          <textarea matInput formControlName="address">{{
            user.address
          }}</textarea>
        </mat-form-field>
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Phone Number</mat-label>
          <input
            matInput
            type="text"
            formControlName="phoneNumber"
            [value]="user.phoneNumber ? user.phoneNumber : ''"
          />
          <mat-error
            *ngIf="
              formControls.phoneNumber.errors?.minlength &&
              formControls.phoneNumber.dirty
            "
          >
            Please enter a valid 10 digit phone number.
          </mat-error>
          <mat-error
            *ngIf="
              formControls.phoneNumber.errors?.maxlength &&
              formControls.phoneNumber.dirty
            "
          >
            Please enter a valid 10 digit phone number.
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Landline Number</mat-label>
          <input
            matInput
            type="text"
            formControlName="landlineNumber"
            [value]="user.landlineNumber ? user.landlineNumber : ''"
          />
          <mat-error
            *ngIf="
              formControls.landlineNumber.errors?.minlength &&
              formControls.landlineNumber.dirty
            "
          >
            Please enter a valid landline number.
          </mat-error>
          <mat-error
            *ngIf="
              formControls.landlineNumber.errors?.maxlength &&
              formControls.landlineNumber.dirty
            "
          >
            Please enter a valid landline number.
          </mat-error>
        </mat-form-field>
        <mat-form-field
          *ngIf="isWorker() && !user.roles.receptionist"
          appearance="outline"
          class="full-width"
        >
          <mat-label>Department</mat-label>
          <mat-select
            placeholder="Department"
            formControlName="department"
            multiple
          >
            <mat-option
              *ngFor="let department of departments"
              [value]="department"
            >
              {{ department.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field
          *ngIf="!isWorker()"
          appearance="outline"
          class="full-width"
        >
          <mat-label>GSTIN</mat-label>
          <input
            matInput
            type="text"
            formControlName="gstin"
            [value]="user.gstin ? user.gstin : ''"
          />
          <mat-error
            *ngIf="
              formControls.gstin.errors?.minlength && formControls.gstin.dirty
            "
          >
            Please enter a valid GSTIN.
          </mat-error>
          <mat-error
            *ngIf="
              formControls.gstin.errors?.maxlength && formControls.gstin.dirty
            "
          >
            Please enter a valid GSTIN.
          </mat-error>
        </mat-form-field>
        <mat-form-field
          *ngIf="!isWorker()"
          appearance="outline"
          class="full-width"
        >
          <mat-label>TIN</mat-label>
          <input
            matInput
            type="text"
            formControlName="tin"
            [value]="user.tin ? user.tin : ''"
          />
          <mat-error
            *ngIf="formControls.tin.errors?.minlength && formControls.tin.dirty"
          >
            Please enter a valid TIN.
          </mat-error>
          <mat-error
            *ngIf="formControls.tin.errors?.maxlength && formControls.tin.dirty"
          >
            Please enter a valid TIN.
          </mat-error>
        </mat-form-field>
        <mat-form-field
          *ngIf="!isWorker()"
          appearance="outline"
          class="full-width"
        >
          <mat-label>E-Sugam</mat-label>
          <textarea matInput formControlName="esugam">{{
            user.esugam
          }}</textarea>
        </mat-form-field>
        <mat-form-field
          *ngIf="!isWorker()"
          appearance="outline"
          class="full-width"
        >
          <mat-label>State Code</mat-label>
          <input
            matInput
            type="text"
            formControlName="stateCode"
            [value]="user.stateCode ? user.stateCode : ''"
          />
          <mat-error
            *ngIf="
              formControls.stateCode.errors?.minlength &&
              formControls.stateCode.dirty
            "
          >
            Please enter a valid State Code.
          </mat-error>
          <mat-error
            *ngIf="
              formControls.stateCode.errors?.maxlength &&
              formControls.stateCode.dirty
            "
          >
            Please enter a valid State Code.
          </mat-error>
        </mat-form-field>
        <mat-form-field
          *ngIf="!isWorker()"
          appearance="outline"
          class="full-width"
        >
          <mat-label>SAC Code</mat-label>
          <input
            matInput
            type="text"
            formControlName="SACCode"
            [value]="user.SACCode ? user.SACCode : ''"
          />
        </mat-form-field>
        <mat-slide-toggle
          *ngIf="!isWorker()"
          formControlName="credit"
          (change)="onChangeCredit($event)"
          formControlName="credit"
          [checked]="
            formControls.credit.value ? formControls.credit.value : false
          "
          >Credit
        </mat-slide-toggle>
        <mat-form-field
          *ngIf="formControls.credit.value === true"
          appearance="outline"
          class="full-width"
          class="form-top-margin"
        >
          <mat-label>Credit Period</mat-label>
          <input
            matInput
            type="number"
            formControlName="creditPeriod"
            [value]="user.creditPeriod ? user.creditPeriod : ''"
          />
        </mat-form-field>
        <mat-form-field
          *ngIf="isWorker()"
          appearance="outline"
          class="full-width"
        >
          <mat-label>Salary</mat-label>
          <input
            matInput
            type="number"
            formControlName="salary"
            [value]="user.salary ? user.salary : ''"
          />
        </mat-form-field>
      </perfect-scrollbar>
      <mat-card-actions class="card-actions">
        <button
          mat-stroked-button
          color="primary"
          [disabled]="!editForm.valid || !editForm.dirty || uploadingImages"
          type="submit"
        >
          Update
        </button>
      </mat-card-actions>
    </form>
  </mat-card-content>
</mat-card>
