<mat-card class="card-no-shadow search-card">
  <mat-card-header>
    <mat-card-title>
      Search Transactions
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form
      [formGroup]="searchTransactionForm"
      (ngSubmit)="changeDataSource(null, null)"
    >
      <mat-form-field appearance="outline" class="half-width">
        <mat-label>Field</mat-label>
        <mat-select
          formControlName="searchField"
          (selectionChange)="clearForm()"
        >
          <mat-option>None</mat-option>
          <mat-option value="receivedAt">Payment Received Date</mat-option>
          <mat-option value="createdAt">Created Date</mat-option>
          <mat-option value="billNo">Bill No</mat-option>
          <mat-option value="customerDC">Customer DC</mat-option>
          <mat-option value="internalDC">Internal DC</mat-option>
          <mat-option value="customerUID">Customer Name</mat-option>
          <mat-option value="subvendorUID">Subcontractor Name</mat-option>
          <mat-option value="orderUID">Order ID</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field
        *ngIf="
          formControls.searchField.value === 'billNo' ||
          formControls.searchField.value === 'internalDC' ||
          formControls.searchField.value === 'customerDC' ||
          formControls.searchField.value === 'orderUID'
        "
        appearance="outline"
        class="half-width"
      >
        <mat-label>Search</mat-label>
        <input
          matInput
          type="name"
          placeholder="Search"
          name="billSearch"
          formControlName="searchTerm"
          required
        />
        <mat-error *ngIf="formControls.searchTerm.errors?.required">
          Search term is required.
        </mat-error>
      </mat-form-field>
      <mat-form-field
        *ngIf="formControls.searchField.value === 'customerUID'"
        class="half-width"
        appearance="outline"
      >
        <mat-label>Customer</mat-label>
        <input
          matInput
          formControlName="searchTerm"
          [matAutocomplete]="auto"
          (change)="checkCustomerName()"
          required
        />
        <mat-error *ngIf="formControls.searchTerm.errors?.required">
          Customer is required.
        </mat-error>
        <mat-error *ngIf="formControls.searchTerm.errors?.inList">
          Please select customer from the list.
        </mat-error>
      </mat-form-field>
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option
          *ngFor="let option of customerFilteredOptions | async"
          [value]="option"
        >
          {{ option }}
        </mat-option>
      </mat-autocomplete>
      <mat-form-field
        *ngIf="
          formControls.searchField.value === 'customerUID' ||
          formControls.searchField.value === 'receivedAt' ||
          formControls.searchField.value === 'createdAt'
        "
        class="half-width"
        appearance="outline"
      >
        <mat-label>From Date</mat-label>
        <input
          formControlName="fromDate"
          matInput
          [matDatepicker]="pickerFromDate"
          placeholder="Date"
          required
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="pickerFromDate"
        ></mat-datepicker-toggle>
        <mat-datepicker #pickerFromDate></mat-datepicker>
        <mat-error *ngIf="formControls.fromDate.errors?.required">
          Date is required.
        </mat-error>
        <mat-error *ngIf="formControls.fromDate.errors?.dateRange">
          Date is required.
        </mat-error>
      </mat-form-field>
      <mat-form-field
        *ngIf="
          formControls.searchField.value === 'customerUID' ||
          formControls.searchField.value === 'receivedAt' ||
          formControls.searchField.value === 'createdAt'
        "
        class="half-width"
        appearance="outline"
      >
        <mat-label>To Date</mat-label>
        <input
          formControlName="toDate"
          matInput
          [matDatepicker]="pickerToDate"
          placeholder="Date"
          required
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="pickerToDate"
        ></mat-datepicker-toggle>
        <mat-datepicker #pickerToDate></mat-datepicker>
        <mat-error *ngIf="formControls.toDate.errors?.required">
          Date is required.
        </mat-error>
        <mat-error *ngIf="formControls.toDate.errors?.dateRange">
          To-date should be greater than From-date.
        </mat-error>
      </mat-form-field>
      <mat-form-field
        *ngIf="formControls.searchField.value === 'subvendorUID'"
        class="half-width"
        appearance="outline"
      >
        <mat-label>Subcontractor</mat-label>
        <input
          matInput
          formControlName="searchTerm"
          [matAutocomplete]="auto2"
          (change)="checkSubvendorName()"
          required
        />
        <mat-error *ngIf="formControls.searchTerm.errors?.required">
          Subcontractor is required.
        </mat-error>
        <mat-error *ngIf="formControls.searchTerm.errors?.inList">
          Please select subcontractor from the list.
        </mat-error>
      </mat-form-field>
      <mat-autocomplete #auto2="matAutocomplete">
        <mat-option
          *ngFor="let option of subvendorFilteredOptions | async"
          [value]="option"
        >
          {{ option }}
        </mat-option>
      </mat-autocomplete>
      <!--     <mat-card-actions class="card-actions"> -->
      <button
        mat-icon-button
        type="submit"
        [disabled]="!searchTransactionForm.valid"
        color="primary"
        class="right-margin"
      >
        <mat-icon class="mat-18">search</mat-icon>
      </button>
      <button
        mat-icon-button
        type="button"
        color="accent"
        (click)="initialDataSource()"
      >
        <mat-icon class="mat-18">close</mat-icon>
      </button>
      <!--      </mat-card-actions> -->
    </form>
  </mat-card-content>
</mat-card>

<div [style.display]="dataSource ? '' : 'none'">
  <mat-table
    #table
    [dataSource]="dataSource"
    matSort
    [ngClass]="{
      'bigger-search':
        formControls.searchField.value === 'customerUID' ||
        formControls.searchField.value === 'createdAt' ||
        formControls.searchField.value === 'receivedAt'
    }"
  >
    <ng-container matColumnDef="createdAt">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        Created
      </mat-header-cell>
      <mat-cell *matCellDef="let row" class="createdCell">
        {{ row.createdAt.toDate() | date: "MMM d, y" }}
      </mat-cell>
      <mat-footer-cell *matFooterCellDef></mat-footer-cell>
    </ng-container>
    <ng-container matColumnDef="cash">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        Cash
      </mat-header-cell>
      <mat-cell *matCellDef="let row" class="cashCell">
        <span *ngIf="row.cash"> {{ row.amount | INRCurrency: true }}</span>
      </mat-cell>
      <mat-footer-cell *matFooterCellDef>
        <strong>
          {{ dataSource.totalCash | INRCurrency: true }}
        </strong>
      </mat-footer-cell>
    </ng-container>
    <ng-container matColumnDef="credit">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        Credit
      </mat-header-cell>
      <mat-cell *matCellDef="let row" class="creditCell">
        <span *ngIf="!row.cash"> {{ row.amount | INRCurrency: true }}</span>
      </mat-cell>
      <mat-footer-cell *matFooterCellDef>
        <strong>
          {{ dataSource.totalCredit | INRCurrency: true }}
        </strong>
      </mat-footer-cell>
    </ng-container>
    <ng-container matColumnDef="paymentReceived">
      <mat-header-cell *matHeaderCellDef mat-sort-header
        >Payment</mat-header-cell
      >
      <mat-cell *matCellDef="let row" class="creditCell">
        <span
          *ngIf="!row?.paymentReceived && !row.cash && row.type === 'income'"
        >
          <button
            mat-icon-button
            type="button"
            color="primary"
            (click)="paymentReceived(row, 'customer')"
          >
            <mat-icon>check_circle</mat-icon>
          </button>
        </span>
        <span
          *ngIf="
            !row?.paymentReceived && !row.cash && row.type === 'expenditure'
          "
        >
          <button
            mat-icon-button
            type="button"
            color="primary"
            (click)="paymentReceived(row, 'subvendor')"
          >
            <mat-icon>check_circle</mat-icon>
          </button>
        </span>
        <span *ngIf="row?.paymentReceived && !row.cash">
          <mat-icon color="primary">done</mat-icon>
        </span>
      </mat-cell>
      <mat-footer-cell *matFooterCellDef> </mat-footer-cell>
    </ng-container>
    <ng-container matColumnDef="details">
      <mat-header-cell *matHeaderCellDef>
        <button
          type="button"
          mat-icon-button
          color="primary"
          (click)="addTransactionDialog()"
        >
          <mat-icon class="add-circle-button">add_circle</mat-icon>
        </button>
      </mat-header-cell>
      <mat-cell *matCellDef="let row" class="detailsCell">
        <button mat-icon-button (click)="openTransaction(row)">
          <mat-icon aria-label="View Details" color="accent">info</mat-icon>
        </button>
        <button
          *appHasRole="['admin', 'owner']"
          mat-icon-button
          (click)="deleteTransaction(row)"
        >
          <mat-icon aria-label="Delete" color="warn">delete</mat-icon>
        </button>
      </mat-cell>
      <mat-footer-cell *matFooterCellDef></mat-footer-cell>
    </ng-container>
    <ng-container matColumnDef="type">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        Type
      </mat-header-cell>
      <mat-cell *matCellDef="let row" class="typeCell">
        <mat-icon color="primary" *ngIf="row.type === 'income'">add</mat-icon>
        <mat-icon color="warn" *ngIf="row.type === 'expenditure'"
          >remove</mat-icon
        >
      </mat-cell>

      <mat-footer-cell *matFooterCellDef>
        <strong>
          Total
        </strong>
      </mat-footer-cell>
    </ng-container>
    <ng-container matColumnDef="description">
      <mat-header-cell *matHeaderCellDef> Description </mat-header-cell>
      <mat-cell *matCellDef="let row" class="descriptionCell">
        {{ row.description }}
      </mat-cell>
      <mat-footer-cell *matFooterCellDef></mat-footer-cell>
    </ng-container>

    <mat-header-row
      *matHeaderRowDef="displayedColumns; sticky: true"
    ></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"> </mat-row>
    <mat-footer-row
      *matFooterRowDef="displayedColumns; sticky: true"
    ></mat-footer-row>
  </mat-table>
  <div
    class="no-results"
    [style.display]="dataSource?.renderedData.length == 0 ? '' : 'none'"
  >
    No transactions found matching search criteria.
  </div>

  <mat-paginator
    #paginator
    [length]="dataSource?.filteredData.length"
    [pageIndex]="0"
    [pageSize]="10"
    [pageSizeOptions]="[5, 10, 25]"
  >
  </mat-paginator>
</div>
