@import "../../shared/mixins/mixins.scss";

.mat-column-details {
  @include desktop {
    display: flex;
    justify-content: flex-end;
  }
  @include ipad {
    display: flex;
    justify-content: flex-end;
  }
}

mat-header-cell.mat-column-details {
  display: flex;
  justify-content: flex-end;
}

.mat-input-container {
  font-size: 14px;
  flex-grow: 1;
  margin-left: 32px;
  margin-top: 8px;
}

.add-circle-button {
  font-size: 24px;
}

.right-margin {
  margin-right: 0.5em;
}

.no-results {
  display: flex;
  justify-content: center;
  padding: 24px;
  font-size: 12px;
  font-style: italic;
  background: white;
}

.mat-table {
  overflow: auto;
  @include desktop {
    max-height: calc(75vh - 110px);
  }
  max-height: calc(75vh - 200px);

  @include ipad {
    max-height: 75vh;
  }
}

.mat-table-sticky:first-child {
  border-right: 1px solid #e0e0e0;
}

.mat-table-sticky:last-child {
  border-left: 1px solid #e0e0e0;
}
