@import "../../../shared/mixins/mixins.scss";

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  background-color: #2f80ed;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
}

.fill-remaining-space {
  flex: 1 1 auto;
}
.zero-margin-padding {
  margin: 0;
  padding: 0;
}
.outlet {
  grid-row-start: 2;
  grid-row-end: 3;
  background-color: white;
  overflow: hidden;
}
.check-circle {
  font-size: 14px;
  color: rgb(233, 233, 233);
}
.header {
  grid-row-start: 1;
  grid-row-end: 2;
}

.footer {
  background-color: white;
  grid-row-start: 3;
  grid-row-end: 4;
}

.sidenav-content {
  display: grid;
  grid-template-rows: 56px calc(100vh - 96px) 40px;
  @include desktop {
    grid-template-rows: 0 calc(100vh - 40px) 40px;
  }
  @include ipad {
    grid-template-rows: 0 calc(100vh - 40px) 40px;
  }
}

.active {
  color: yellow !important;
}

.sidenav-link {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: white;
}

.list-icon {
  margin-right: 5px;
}
