<mat-sidenav-container
  *ngIf="core.user | async as user"
  class="sidenav-container"
>
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)"
  >
    <mat-toolbar color="primary">
      <span *ngIf="isHandset$ | async">Menu</span>
      <span *ngIf="!(isHandset$ | async)">
        <mat-label
          >{{ user.displayName }}
          <mat-icon *ngIf="core.userRef.emailVerified" class="check_circle"
            >check_circle
          </mat-icon>
        </mat-label>
        <button
          mat-icon-button
          [matMenuTriggerFor]="settingsMenu"
          name="menu_icon"
        >
          <mat-icon>keyboard_arrow_down</mat-icon>
        </button>
      </span>
    </mat-toolbar>
    <mat-nav-list *ngIf="isHandset$ | async">
      <a
        mat-list-item
        routerLink="/order"
        routerLinkActive="active"
        class="sidenav-link"
        (click)="drawer.toggle()"
      >
        <mat-icon class="list-icon">list</mat-icon> Orders
      </a>
      <a
        mat-list-item
        *appHasRole="['receptionist', 'owner', 'admin']"
        routerLink="/transactions"
        routerLinkActive="active"
        (click)="drawer.toggle()"
        class="sidenav-link"
      >
        <mat-icon class="list-icon">attach_money</mat-icon> Transactions
      </a>
      <a
        mat-list-item
        *appHasRole="['receptionist', 'owner', 'admin']"
        routerLink="/management"
        routerLinkActive="active"
        (click)="drawer.toggle()"
        class="sidenav-link"
      >
        <mat-icon class="list-icon">person</mat-icon> User Management
      </a>
      <a
        mat-list-item
        *appHasRole="['receptionist', 'owner', 'admin']"
        routerLink="/billing"
        routerLinkActive="active"
        (click)="drawer.toggle()"
        class="sidenav-link"
      >
        <mat-icon class="list-icon">notes</mat-icon> Billing
      </a>
      <a
        mat-list-item
        *appHasRole="['receptionist', 'owner', 'admin']"
        routerLink="/delivery-challan"
        routerLinkActive="active"
        (click)="drawer.toggle()"
        class="sidenav-link"
      >
        <mat-icon class="list-icon">assignment</mat-icon> Delivery Challan
      </a>
    </mat-nav-list>
    <mat-nav-list *ngIf="!(isHandset$ | async)">
      <a
        mat-list-item
        routerLink="/order"
        routerLinkActive="active"
        class="sidenav-link"
      >
        <mat-icon class="list-icon">list</mat-icon> Orders
      </a>
      <a
        mat-list-item
        *appHasRole="['receptionist', 'owner', 'admin']"
        routerLink="/transactions"
        routerLinkActive="active"
        class="sidenav-link"
      >
        <mat-icon class="list-icon">attach_money</mat-icon> Transactions
      </a>
      <a
        mat-list-item
        *appHasRole="['receptionist', 'owner', 'admin']"
        routerLink="/management"
        routerLinkActive="active"
        class="sidenav-link"
      >
        <mat-icon class="list-icon">person</mat-icon> User Management
      </a>
      <a
        mat-list-item
        *appHasRole="['receptionist', 'owner', 'admin']"
        routerLink="/billing"
        routerLinkActive="active"
        class="sidenav-link"
      >
        <mat-icon class="list-icon">notes</mat-icon> Billing
      </a>
      <a
        mat-list-item
        *appHasRole="['receptionist', 'owner', 'admin']"
        routerLink="/delivery-challan"
        routerLinkActive="active"
        class="sidenav-link"
      >
        <mat-icon class="list-icon">assignment</mat-icon> Delivery Challan
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content (swipeRight)="drawer.toggle()" class="sidenav-content">
    <mat-toolbar
      color="primary"
      class="zero-margin-padding"
      *ngIf="isHandset$ | async"
      class="header"
    >
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Tool Desk</span>
      <span class="fill-remaining-space"></span>
      <mat-label
        >{{ user.displayName | shorten: 6:".." }}
        <mat-icon *ngIf="core.userRef.emailVerified" class="check-circle"
          >check_circle
        </mat-icon>
      </mat-label>
      <button
        mat-icon-button
        [matMenuTriggerFor]="settingsMenu"
        name="menu_icon"
      >
        <mat-icon>more_vert</mat-icon>
      </button>
    </mat-toolbar>
    <ngx-loading-bar
      *ngIf="!(isHandset$ | async)"
      color="#2f80ed"
      includeSpinner="false"
    ></ngx-loading-bar>
    <ngx-loading-bar
      *ngIf="isHandset$ | async"
      color="white"
      includeBar="false"
    ></ngx-loading-bar>
    <div
      class="outlet"
      [@fadeAnimation]="o.isActivated ? o.activatedRoute : ''"
    >
      <router-outlet #o="outlet"></router-outlet>
    </div>
    <app-footer class="footer"></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>

<mat-menu #settingsMenu="matMenu">
  <button mat-menu-item routerLink="/settings">
    Settings
  </button>
  <button mat-menu-item (click)="core.logout()">Logout</button>
</mat-menu>
