<button
  type="button"
  mat-mini-fab
  color="white"
  class="close-button"
  (click)="dialogRef.close()"
>
  <mat-icon>close</mat-icon>
</button>
<mat-card class="card-no-shadow">
  <mat-card-title>Progress</mat-card-title>
  <mat-card-content>
    <form
      [formGroup]="progressForm"
      (ngSubmit)="unclaimItem(); dialogRef.close()"
    >
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Enter progress</mat-label>
        <input
          matInput
          type="number"
          formControlName="progress"
          [value]="order.items[itemIndex].progress"
        />
        <mat-error *ngIf="formControls.progress.errors?.min">
          Progress has to be greater than previous.
        </mat-error>
        <mat-error *ngIf="formControls.progress.errors?.max">
          Progress cannot be greater than quantity.
        </mat-error>
      </mat-form-field>
      <mat-card-actions class="card-actions">
        <button
          mat-stroked-button
          type="submit"
          color="primary"
          [disabled]="progressForm.invalid"
        >
          Update progress
        </button>
      </mat-card-actions>
    </form>
  </mat-card-content>
</mat-card>
