<button
  type="button"
  class="close-button"
  mat-mini-fab
  color="white"
  (click)="dialogRef.close()"
>
  <mat-icon>close</mat-icon>
</button>
<mat-card class="enter-pin-card">
  <mat-card-title>Enter PIN </mat-card-title>
  <mat-card-subtitle
    >Deleting this order will also delete related Invoices, Transactions and
    Delivery-challans.
    <div *ngIf="containsMultipleItemBill" class="delete-warning">
      This order contains an item that was billed with an item from a different
      order. Deleting this order will also delete the any related bills and
      transactions. This may corrupt the other order's data.
    </div></mat-card-subtitle
  >
  <mat-card-content>
    <form
      [formGroup]="enterPINForm"
      (ngSubmit)="
        deleteOrder(orderUID, formControls.currentPIN.value); dialogRef.close()
      "
    >
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Current PIN</mat-label>
        <input matInput type="password" formControlName="currentPIN" required />
        <mat-error
          *ngIf="
            formControls.currentPIN.errors?.minlength &&
            formControls.currentPIN.dirty
          "
        >
          Please enter a valid 6 digit PIN.
        </mat-error>
        <mat-error
          *ngIf="
            formControls.currentPIN.errors?.maxlength &&
            formControls.currentPIN.dirty
          "
        >
          Please enter a valid 6 digit PIN.
        </mat-error>
        <mat-error
          *ngIf="
            formControls.currentPIN.errors?.required &&
            formControls.currentPIN.dirty
          "
        >
          Current PIN is required.
        </mat-error>
      </mat-form-field>
      <mat-card-actions class="card-actions">
        <button
          mat-stroked-button
          type="submit"
          color="warn"
          [disabled]="enterPINForm.invalid"
        >
          Delete Order
        </button>
        <!--         <button mat-stroked-button type="submit" color="primary" (click)="dialogRef.close()">
          CANCEL</button> -->
      </mat-card-actions>
    </form>
  </mat-card-content>
</mat-card>
