@import "../../../shared/mixins/mixins.scss";

.current-plan-card {
  box-shadow: none !important;
}

.card-actions {
  margin-left: 0px;
}
table#limittable {
  table-layout: fixed;
  width: 100%;
}

table#limittable td {
  padding: 5px;
  width: 50%;
}

.plan-details-card {
  @include desktop {
    width: 30vw;
  }
}
