<button
  type="button"
  routerLink="/settings"
  mat-mini-fab
  color="white"
  class="close-button"
>
  <mat-icon>close</mat-icon>
</button>
<mat-card class="card-no-shadow">
  <mat-card-header>
    <mat-card-title>Current Plan</mat-card-title>
    <mat-card-subtitle
      >Due Date : {{ this.dueDateFormat | date: "MMM d, y" }}</mat-card-subtitle
    >
  </mat-card-header>
  <mat-card-content>
    <mat-card class="plan-details-card">
      <mat-card-header>
        <mat-card-title>Packages</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-chip-list
          *ngFor="let package of packages | keyvalue"
          class="card-actions"
        >
          <mat-chip *ngIf="package.value === true">{{
            package.key | titlecase
          }}</mat-chip>
        </mat-chip-list>
        <table id="limittable">
          <div *ngFor="let limit of userLimit | keyvalue">
            <tr>
              <td>
                {{ limit.key | titlecase }}
              </td>
              <td>
                <span *ngIf="limit.value.infinite"> No Limit </span>
                <span *ngIf="!limit.value.infinite"
                  >{{ limit.value.current }} / {{ limit.value.max }}</span
                >
              </td>
            </tr>
          </div>
        </table>
      </mat-card-content>
    </mat-card>
  </mat-card-content>
</mat-card>
