/* You can add global styles to this file, and also import other style files */

@import "~perfect-scrollbar/css/perfect-scrollbar.css";
@import "./app/shared/mixins/mixins.scss";

body {
  margin: 0;
  background-color: white;
}

.dialog-no-padding .mat-dialog-container {
  padding: 0;
}

.item-panel .mat-expansion-panel-body {
  padding: 0;
}

router-outlet ~ * {
  position: fixed;
  height: calc(100% - 96px);
  width: 100%;
  @include desktop {
    position: fixed;
    height: calc(100% - 40px);
    width: calc(100% - 200px);
  }

  @include ipad {
    position: fixed;
    height: calc(100% - 40px);
    width: calc(100% - 200px);
  }
}

.card-no-shadow {
  box-shadow: none !important;
}

.card-actions {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.full-width {
  width: 100%;
}

.close-button {
  position: absolute !important;
  top: 0px;
  right: 0px;
  box-shadow: none !important;
  z-index: 2;
}

.half-width {
  @include desktop {
    width: 38% !important;
    margin-right: 1em !important;
  }
  width: 90% !important;

  @include ipad {
    width: 40% !important;
    margin-right: 0.5em !important;
  }
}

.mat-card-header-text {
  margin: unset !important;
}

.enter-pin-card {
  position: absolute !important;
  left: 50% !important;
  top: 40% !important;
  -o-transform: translate(-50%, -40%);
  -webkit-transform: translate(-50%, -40%);
  -moz-transform: translate(-50%, -40%);
  transform: translate(-50%, -40%) !important;
  box-shadow: none !important;
  width: 80vw;
  @include desktop {
    max-width: 40vw !important;
    min-width: 40vw !important;
  }
}

.filter-form {
  text-align: center;
  background: white;
}

.filter {
  width: 95%;
  margin: 20px 0 auto;
}

.obSlideTab {
  position: fixed !important;
  top: unset !important;
  left: unset !important;
  right: 2px !important;
  bottom: 2px !important;
  width: 24px !important;
  height: 24px !important;
  background-position: unset !important;
  background-image: url("/assets/baseline-help-24px.svg") !important;
  cursor: pointer !important;
  border-radius: 3px !important;
  font-family: unset !important;
}

.bigger-search {
  max-height: calc(75vh - 350px) !important;

  @include ipad {
    max-height: calc(75vh - 75px) !important;
  }

  @include desktop {
    max-height: calc(75vh - 135px) !important;
  }
}

app-login {
  width: 100% !important;
}
