@import '~@angular/material/theming';
@include mat-core();
$my-primary: (
  50: #2f80ed,
  100: #2f80ed,
  200: #2f80ed,
  300: #2f80ed,
  400: #2f80ed,
  500: #2f80ed,
  600: #2f80ed,
  700: #2f80ed,
  800: #2f80ed,
  900: #2f80ed,
  A100: #2f80ed,
  A200: #2f80ed,
  A400: #2f80ed,
  A700: #2f80ed,
  contrast: (
    50: #ffffff,
    100: #ffffff,
    200: #ffffff,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #ffffff,
    A200: #ffffff,
    A400: #ffffff,
    A700: #ffffff
  )
);
$my-accent: (
  50: #9d9c62,
  100: #9d9c62,
  200: #9d9c62,
  300: #9d9c62,
  400: #9d9c62,
  500: #9d9c62,
  600: #9d9c62,
  700: #9d9c62,
  800: #9d9c62,
  900: #9d9c62,
  A100: #9d9c62,
  A200: #9d9c62,
  A400: #9d9c62,
  A700: #9d9c62,
  contrast: (
    50: #ffffff,
    100: #ffffff,
    200: #ffffff,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #ffffff,
    A200: #ffffff,
    A400: #ffffff,
    A700: #ffffff
  )
);
$light-theme-primary: mat-palette($my-primary, 100);
$light-theme-accent: mat-palette($my-accent, 100);
$light-theme-warn: mat-palette($mat-red, 600);
$light-theme: mat-light-theme(
  $light-theme-primary,
  $light-theme-accent,
  $light-theme-warn
);
@include angular-material-theme($light-theme);
