<mat-tab-group
  class="card-no-shadow"
  (selectedTabChange)="onLinkClick($event)"
  [(selectedIndex)]="tabIndex"
>
  <mat-tab label="Pending"></mat-tab>
  <mat-tab
    *appHasRole="['admin', 'receptionist', 'owner', 'inspector']"
    label="Search"
  ></mat-tab>
</mat-tab-group>

<mat-card *ngIf="orderType === 'pending'" class="card-no-shadow">
  <mat-card-header>
    <form class="full-width">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Orders</mat-label>
        <input
          matInput
          #filter
          type="name"
          placeholder="Filter Orders"
          name="orderFilter"
          [(ngModel)]="filterTerm"
        />
      </mat-form-field>
    </form>
  </mat-card-header>
  <mat-card-content>
    <perfect-scrollbar class="order-grid" [config]="{ suppressScrollX: false }">
      <div
        *ngFor="
          let order of page.data
            | async
            | filterBy: ['customerName', 'customerDC', 'internalDC']:filterTerm;
          let i = index
        "
        class="flex-display"
      >
        <app-order
          [order]="order"
          [user]="user"
          [departmentName]="departmentName"
          [userName]="userName"
          [predicate]="predicate"
        ></app-order>
      </div>
    </perfect-scrollbar>
  </mat-card-content>
  <mat-card-footer>
    <button
      class="more-button"
      color="primary"
      (click)="loadMore()"
      mat-icon-button
      *ngIf="!(page.done | async)"
    >
      <mat-icon>more_horiz</mat-icon>
    </button>
  </mat-card-footer>
</mat-card>

<mat-card
  *ngIf="orderType === 'search'"
  class="card-no-shadow search-card-order"
>
  <mat-card-header>
    <form
      [formGroup]="searchOrderForm"
      (ngSubmit)="searchOrders()"
      class="full-width"
    >
      <mat-form-field appearance="outline" class="half-width">
        <mat-label>Field</mat-label>
        <mat-select
          formControlName="searchField"
          (selectionChange)="clearForm()"
        >
          <mat-option>None</mat-option>
          <mat-option value="customerDC">Customer DC</mat-option>
          <mat-option value="internalDC">Internal DC</mat-option>
          <mat-option value="createdAt">Date</mat-option>
          <mat-option value="customerUID">Customer Name</mat-option>
          <mat-option value="id">Order ID</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field
        *ngIf="
          formControls.searchField.value === '' ||
          formControls.searchField.value === 'internalDC' ||
          formControls.searchField.value === 'customerDC' ||
          formControls.searchField.value === 'id'
        "
        appearance="outline"
        class="half-width"
      >
        <mat-label>Search</mat-label>
        <input
          matInput
          type="name"
          placeholder="Search"
          name="billSearch"
          formControlName="searchTerm"
          required
        />
        <mat-error *ngIf="formControls.searchTerm.errors?.required">
          Search term is required.
        </mat-error>
      </mat-form-field>
      <mat-form-field
        *ngIf="formControls.searchField.value === 'customerUID'"
        class="half-width"
        appearance="outline"
      >
        <mat-label>Customer</mat-label>
        <input
          matInput
          formControlName="searchTerm"
          [matAutocomplete]="auto"
          (change)="checkCustomerName()"
          required
        />
        <mat-error *ngIf="formControls.searchTerm.errors?.required">
          Customer is required.
        </mat-error>
        <mat-error *ngIf="formControls.searchTerm.errors?.inList">
          Please select customer from the list.
        </mat-error>
      </mat-form-field>
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option
          *ngFor="let option of customerFilteredOptions | async"
          [value]="option"
        >
          {{ option }}
        </mat-option>
      </mat-autocomplete>
      <mat-form-field
        *ngIf="
          formControls.searchField.value === 'customerUID' ||
          formControls.searchField.value === 'createdAt'
        "
        class="half-width"
        appearance="outline"
      >
        <mat-label>From Date</mat-label>
        <input
          formControlName="fromDate"
          matInput
          [matDatepicker]="pickerFromDate"
          placeholder="Date"
          required
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="pickerFromDate"
        ></mat-datepicker-toggle>
        <mat-datepicker #pickerFromDate></mat-datepicker>
        <mat-error *ngIf="formControls.fromDate.errors?.required">
          Date is required.
        </mat-error>
        <mat-error *ngIf="formControls.fromDate.errors?.dateRange">
          Date is required.
        </mat-error>
      </mat-form-field>
      <mat-form-field
        *ngIf="
          formControls.searchField.value === 'customerUID' ||
          formControls.searchField.value === 'createdAt'
        "
        class="half-width"
        appearance="outline"
      >
        <mat-label>To Date</mat-label>
        <input
          formControlName="toDate"
          matInput
          [matDatepicker]="pickerToDate"
          placeholder="Date"
          required
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="pickerToDate"
        ></mat-datepicker-toggle>
        <mat-datepicker #pickerToDate></mat-datepicker>
        <mat-error *ngIf="formControls.toDate.errors?.required">
          Date is required.
        </mat-error>
        <mat-error *ngIf="formControls.toDate.errors?.dateRange">
          To-date should be greater than From-date.
        </mat-error>
      </mat-form-field>
      <button
        mat-icon-button
        type="submit"
        [disabled]="!searchOrderForm.valid"
        color="primary"
        class="search-button"
      >
        <mat-icon>search</mat-icon>
      </button>
      <button
        mat-icon-button
        type="button"
        color="accent"
        (click)="resetSearchOrders()"
      >
        <mat-icon class="mat-18">close</mat-icon>
      </button>
      <mat-label *ngIf="searchedOrdersLength !== undefined"
        >Retrieved {{ searchedOrdersLength }} orders.</mat-label
      >
    </form>
  </mat-card-header>
  <mat-card-content
    class="order-search-grid"
    [ngClass]="{
      'bigger-search':
        formControls.searchField.value === 'customerUID' ||
        formControls.searchField.value === 'createdAt'
    }"
  >
    <perfect-scrollbar [config]="{ suppressScrollX: false }">
      <div
        *ngFor="
          let order of searchedOrders
            | async
            | filterBy
              : ['customerName', 'customerDC', 'internalDC']
              : filterTerm2;
          let i = index
        "
        class="flex-display"
      >
        <app-order
          [order]="order"
          [user]="user"
          [departmentName]="departmentName"
          [userName]="userName"
          [predicate]="predicate"
        ></app-order>
      </div>
    </perfect-scrollbar>
  </mat-card-content>
  <mat-card-footer>
    <mat-progress-bar *ngIf="searching" mode="query"></mat-progress-bar>
  </mat-card-footer>
</mat-card>
