@import "../../../shared/mixins/mixins.scss";
.order-card {
  min-width: 30vw;
  margin: 1em;
}

.example-stretched-tabs {
  max-width: 100vw;
}

.flex-display {
  display: inline-flex;
}

.search-card-order {
  height: calc(100% - 96px);
}

.more-button {
  left: 45vw;
  @include desktop {
    left: calc(40vw);
  }

  @include ipad {
    left: calc(48vw - 120px);
  }
}

.order-grid {
  height: calc(100vh - 300px);
  margin: 0;
  padding: 0;
  @include desktop {
    height: calc(100vh - 226px);
  }

  @include ipad {
    height: calc(100vh - 230px);
  }
}
.order-search-grid {
  height: calc(75vh - 205px);
  margin: 0;
  padding: 0;
  @include desktop {
    height: calc(100vh - 270px);
  }

  @include ipad {
    height: calc(100vh - 280px);
  }
}

.pending {
  background-color: #e94f37;
  color: white;
}

.ongoing {
  background-color: #f7b32b;
}

.claimed {
  background-color: #ffe66d;
}

.completed {
  background-color: #2f80ed;
  color: white;
}

.billed {
  background-color: #a5cc6b;
}
