@import "../../../shared/mixins/mixins.scss";

.timeline-card {
  max-width: 400px;
  box-shadow: none !important;
}

.timeline-list {
  max-height: 60vh;
  box-shadow: none !important;
  margin: 0;
  padding: 0;
  @include desktop {
    max-height: 65vh;
  }
}
.td--10 {
  width: 10%;
}
.td--35 {
  width: 35%;
}
.td--55 {
  width: 55%;
}
.pending {
  fill: #e94f37;
  color: white;
}

.ongoing {
  fill: #f7b32b;
}

.claimed {
  fill: #ffe66d;
}

.completed {
  fill: #2f80ed;
  color: white;
}

.billed {
  fill: #a5cc6b;
}

table#timelinetable {
  table-layout: fixed;
  width: 100%;
}
table#timelinetable td {
  padding: 10px;
}
