<button
  type="button"
  mat-mini-fab
  color="white"
  class="close-button"
  (click)="dialogRef.close()"
>
  <mat-icon>close</mat-icon>
</button>
<mat-card class="timeline-card">
  <mat-card-header>
    <mat-card-title>Item Timeline</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <perfect-scrollbar class="timeline-list">
      <table id="timelinetable">
        <tr *ngFor="let item of timeline | reverse">
          <td class="td--10">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="12"
              height="12"
              viewBox="0 0 24 24"
            >
              <path
                [ngClass]="item.status"
                d="M12 2C6.49 2 2 6.49 2 12s4.49 10 10 10 10-4.49 10-10S17.51 2 12 2z"
              />
            </svg>
          </td>
          <td class="td--35" *ngIf="item.dateTime">
            {{ item.dateTime.toDate() | date: "d/M/yy, h:mm a" }}
          </td>
          <td class="td--55">{{ item.description }}</td>
        </tr>
      </table>
    </perfect-scrollbar>
  </mat-card-content>
</mat-card>
