<mat-tab-group class="card-no-shadow" (selectedTabChange)="onLinkClick($event)">
  <mat-tab label="Employee"></mat-tab>
  <mat-tab label="Customer"></mat-tab>
  <mat-tab label="Subcontractor"></mat-tab>
  <mat-tab *appHasRole="['admin']" label="Owner"></mat-tab>
</mat-tab-group>
<span *ngIf="userType === 'worker'">
  <mat-radio-group
    *appHasRole="['owner', 'admin', 'receptionist']"
    class="user-radio-group"
    [(ngModel)]="subType"
  >
    <mat-radio-button
      class="user-radio-button"
      value="receptionist"
      color="primary"
    >
      Receptionist
    </mat-radio-button>
    <mat-radio-button
      class="user-radio-button"
      value="inspector"
      color="primary"
    >
      Inspector
    </mat-radio-button>
    <mat-radio-button class="user-radio-button" value="worker" color="primary">
      Worker
    </mat-radio-button>
  </mat-radio-group>
</span>
<mat-card *ngIf="userType !== undefined && checkLimit()" class="card-no-shadow">
  <button
    type="button"
    routerLink="/order"
    mat-mini-fab
    color="white"
    class="close-button"
  >
    <mat-icon>close</mat-icon>
  </button>
  <mat-card-title>Register</mat-card-title>
  <mat-card-subtitle *ngIf="managementService.signUp === 'failed'">
    <mat-error> Email already in use.</mat-error>
  </mat-card-subtitle>
  <mat-card-content>
    <form [formGroup]="registerForm" (ngSubmit)="createUser()">
      <perfect-scrollbar class="register-form">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Name</mat-label>
          <input matInput type="name" formControlName="name" required />
          <mat-error
            *ngIf="
              formControls.name.errors?.required && formControls.name.dirty
            "
          >
            Name is required.
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Email</mat-label>
          <input
            matInput
            type="email"
            formControlName="email"
            autocomplete="off"
            required
          />
          <mat-error
            *ngIf="formControls.email.errors?.email && formControls.email.dirty"
          >
            Please enter a valid email address.
          </mat-error>
          <mat-error
            *ngIf="
              formControls.email.errors?.required && formControls.email.dirty
            "
          >
            Email is required.
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Password</mat-label>
          <input
            matInput
            type="password"
            formControlName="password"
            autocomplete="new-password"
            required
          />
          <mat-error
            *ngIf="
              formControls.password.errors?.minlength &&
              formControls.password.dirty
            "
          >
            The password must at least 6 characters.
          </mat-error>
          <mat-error
            *ngIf="
              formControls.password.errors?.required &&
              formControls.password.dirty
            "
          >
            Password is required.
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Confirm Password</mat-label>
          <input
            matInput
            type="password"
            formControlName="confirmPassword"
            required
          />
          <mat-error
            *ngIf="
              formControls.confirmPassword.errors?.match &&
              formControls.confirmPassword.dirty
            "
          >
            Password does not match.
          </mat-error>
          <mat-error
            *ngIf="
              formControls.confirmPassword.errors?.required &&
              formControls.confirmPassword.dirty
            "
          >
            Confirm password.
          </mat-error>
        </mat-form-field>
        <span
          >Photo
          <input
            #fileInput
            type="file"
            (change)="uploadPhoto($event)"
            accept="image/jpeg, .jpeg, image/png, .png, image/pjpeg, .jpg"
          />
        </span>

        <mat-form-field
          appearance="outline"
          class="full-width form-field-top-margin"
        >
          <mat-label>Address</mat-label>
          <textarea matInput formControlName="address"></textarea>
        </mat-form-field>
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Phone Number</mat-label>
          <input matInput type="text" formControlName="phoneNumber" />
          <mat-error
            *ngIf="
              formControls.phoneNumber.errors?.minlength &&
              formControls.phoneNumber.dirty
            "
          >
            Please enter a valid 10 digit phone number.
          </mat-error>
          <mat-error
            *ngIf="
              formControls.phoneNumber.errors?.maxlength &&
              formControls.phoneNumber.dirty
            "
          >
            Please enter a valid 10 digit phone number.
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Landline Number</mat-label>
          <input matInput type="text" formControlName="landlineNumber" />
          <mat-error
            *ngIf="
              formControls.landlineNumber.errors?.minlength &&
              formControls.landlineNumber.dirty
            "
          >
            Please enter a valid landline number.
          </mat-error>
          <mat-error
            *ngIf="
              formControls.landlineNumber.errors?.maxlength &&
              formControls.landlineNumber.dirty
            "
          >
            Please enter a valid landline number.
          </mat-error>
        </mat-form-field>
        <mat-form-field
          *ngIf="userType === 'worker' && subType !== 'receptionist'"
          appearance="outline"
          class="full-width"
        >
          <mat-label>Department</mat-label>
          <mat-select
            placeholder="Department"
            formControlName="department"
            multiple
          >
            <mat-option
              *ngFor="let department of departments"
              [value]="department"
            >
              {{ department.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field
          *ngIf="userType !== 'worker' && userType !== 'owner'"
          appearance="outline"
          class="full-width"
        >
          <mat-label>GSTIN</mat-label>
          <input matInput type="text" formControlName="gstin" required />
          <mat-error
            *ngIf="
              formControls.gstin.errors?.minlength && formControls.gstin.dirty
            "
          >
            Please enter a valid GSTIN.
          </mat-error>
          <mat-error
            *ngIf="
              formControls.gstin.errors?.maxlength && formControls.gstin.dirty
            "
          >
            Please enter a valid GSTIN.
          </mat-error>
          <mat-error
            *ngIf="
              formControls.gstin.errors?.required && formControls.gstin.dirty
            "
          >
            Password is required.
          </mat-error>
        </mat-form-field>
        <mat-form-field
          *ngIf="userType !== 'worker' && userType !== 'owner'"
          appearance="outline"
          class="full-width"
        >
          <mat-label>TIN</mat-label>
          <input matInput type="text" formControlName="tin" />
          <mat-error
            *ngIf="formControls.tin.errors?.minlength && formControls.tin.dirty"
          >
            Please enter a valid TIN.
          </mat-error>
          <mat-error
            *ngIf="formControls.tin.errors?.maxlength && formControls.tin.dirty"
          >
            Please enter a valid TIN.
          </mat-error>
        </mat-form-field>
        <mat-form-field
          *ngIf="userType !== 'worker' && userType !== 'owner'"
          appearance="outline"
          class="full-width"
        >
          <mat-label>E-Sugam</mat-label>
          <textarea matInput formControlName="esugam"></textarea>
        </mat-form-field>
        <mat-form-field
          *ngIf="userType !== 'worker' && userType !== 'owner'"
          appearance="outline"
          class="full-width"
        >
          <mat-label>State Code</mat-label>
          <input matInput type="text" formControlName="stateCode" />
          <mat-error
            *ngIf="
              formControls.stateCode.errors?.minlength &&
              formControls.stateCode.dirty
            "
          >
            Please enter a valid State Code.
          </mat-error>
          <mat-error
            *ngIf="
              formControls.stateCode.errors?.maxlength &&
              formControls.stateCode.dirty
            "
          >
            Please enter a valid State Code.
          </mat-error>
        </mat-form-field>
        <mat-slide-toggle
          *ngIf="userType !== 'worker' && userType !== 'owner'"
          formControlName="credit"
          (change)="onChangeCredit($event)"
          name="credit"
          [checked]="formControls.credit.value"
          >Credit
        </mat-slide-toggle>
        <mat-form-field
          *ngIf="formControls.credit.value === true"
          appearance="outline"
          class="full-width form-field-top-margin"
        >
          <mat-label>Credit Period</mat-label>
          <input matInput type="number" formControlName="creditPeriod" />
        </mat-form-field>
        <mat-form-field
          *ngIf="userType === 'worker'"
          appearance="outline"
          class="full-width"
        >
          <mat-label>Salary</mat-label>
          <input matInput type="number" formControlName="salary" />
        </mat-form-field>
      </perfect-scrollbar>
      <mat-card-actions class="card-actions">
        <button
          mat-stroked-button
          type="submit"
          color="primary"
          [disabled]="registerForm.invalid || uploadingImages"
        >
          Register
        </button>
      </mat-card-actions>
    </form>
  </mat-card-content>
</mat-card>
<mat-card *ngIf="!checkLimit() && userType !== 'worker'" class="card-no-shadow">
  <mat-card-title>{{ userType | titlecase }} limit reached.</mat-card-title>
  <mat-card-actions class="card-actions">
    <button
      mat-stroked-button
      routerLink="/account/current-plan"
      color="primary"
    >
      View Current Plan
    </button>
  </mat-card-actions>
</mat-card>
<mat-card
  *ngIf="!checkLimit() && userType === 'worker' && subType"
  class="card-no-shadow"
>
  <mat-card-title>{{ subType | titlecase }} limit reached.</mat-card-title>
  <mat-card-actions class="card-actions">
    <button
      mat-stroked-button
      routerLink="/account/current-plan"
      color="primary"
    >
      View Current Plan
    </button>
  </mat-card-actions>
</mat-card>
