@import "../../../shared/mixins/mixins.scss";

.user-radio-group {
  flex-direction: column;
}

.user-radio-button {
  margin: 5px;
}

.form-field-top-margin {
  margin-top: 20px;
}

.register-form {
  height: calc(100vh - 270px);
  margin: 0;
  padding: 0;
  @include desktop {
    height: calc(100vh - 210px);
  }
}
