.buttons {
  margin: auto;
  width: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 5px;
  margin-right: 5px;
}

.container-div {
  text-align: center;
  z-index: 10;
}

.fill-remaining-space {
  flex: 1 1 auto;
}
.left-margin{
  margin-left: 10px;
}