<div class="container-div">
  <span *appHasRole="['admin', 'receptionist', 'owner']">
    <button
      mat-stroked-button
      routerLink="/order/create"
      (click)="openLink()"
      class="buttons"
    >
      <mat-icon aria-label="Change Theme" class="themeIcon">add</mat-icon>
      <span class="left-margin">Create a new order</span>
    </button>
    <button
      mat-stroked-button
      routerLink="/management/register"
      (click)="openLink()"
      class="buttons"
    >
      <mat-icon aria-label="Add User" class="userIcon">person_add</mat-icon>
      <span class="left-margin">Register a new user</span>
    </button>
  </span>
</div>
