.order-card {
  min-width: calc((100vw - 128px - 16em) / 2);
  margin: 1em;
}

.right-float {
  float: right;
}
.add-circle {
  font-size: 24px;
}
.box-shadow {
  box-shadow: none !important;
}
.open-image {
  position: absolute;
  right: 6.5em;
  margin: auto auto;
  background-color: transparent;
}
.timeline {
  position: absolute;
  right: 3.75em;
  margin: auto auto;
  background-color: transparent;
}
.pending {
  background-color: #e94f37;
  color: white;
}
.td45 {
  width: 45%;
}
table {
  table-layout: fixed;
}
.ongoing {
  background-color: #f7b32b;
}

.claimed {
  background-color: #ffe66d;
}

.completed {
  background-color: #2f80ed;
  color: white;
}

.billed {
  background-color: #a5cc6b;
}
