<mat-card
  class="order-card"
  *ngIf="isWorkerOrSubvendor() ? (order.items | some: predicate) : true"
>
  <div>
    <button
      *appHasRole="['admin', 'receptionist', 'owner']"
      mat-icon-button
      [matMenuTriggerFor]="orderMenu"
      name="menu_icon"
      class="right-float"
    >
      <mat-icon>more_vert</mat-icon>
    </button>
  </div>
  <mat-menu #orderMenu="matMenu">
    <button
      mat-menu-item
      *appHasRole="['admin', 'owner', 'receptionist']"
      [matMenuTriggerFor]="viewMenu"
    >
      View
    </button>
    <button
      mat-menu-item
      *appHasRole="['admin', 'owner', 'receptionist']"
      [matMenuTriggerFor]="generateMenu"
    >
      Generate
    </button>
    <button
      mat-menu-item
      *appHasRole="['admin', 'owner']"
      (click)="deleteOrder(order.id, order.containsMultipleItemBill)"
    >
      Delete
    </button>
  </mat-menu>
  <mat-menu #viewMenu="matMenu">
    <button
      mat-menu-item
      *appHasRole="['admin', 'owner', 'receptionist']"
      (click)="orderBills(order.id)"
    >
      View Bills
    </button>
    <button
      mat-menu-item
      *appHasRole="['admin', 'owner', 'receptionist']"
      (click)="orderDCs(order.id)"
    >
      View DCs
    </button>
    <button
      mat-menu-item
      *appHasRole="['admin', 'owner', 'receptionist']"
      (click)="orderTransactions(order.id)"
    >
      View Transactions
    </button>
  </mat-menu>
  <mat-menu #generateMenu="matMenu">
    <button
      mat-menu-item
      *appHasRole="['admin', 'owner', 'receptionist']"
      (click)="billItems(order)"
    >
      Bill Completed Items
    </button>
    <button
      mat-menu-item
      *appHasRole="['admin', 'owner', 'receptionist']"
      (click)="dcItems(order)"
    >
      Generate DC
    </button>
  </mat-menu>
  <table>
    <tr>
      <td width="20%">
        <strong>
          Created At
        </strong>
      </td>
      <td width="30%">
        {{ order.createdAt.toDate() | date: "MMM d, y" }}
      </td>
      <td width="20%"><strong>Internal DC:</strong></td>
      <td width="30%">
        {{ order.internalDC }}
      </td>
    </tr>
    <tr>
      <td width="25%"><strong>Customer DC:</strong></td>
      <td width="25%">
        {{ order.customerDC }}
      </td>
      <td *appHasRole="['receptionist', 'admin', 'owner']" width="25%">
        <strong>Customer Name</strong>
      </td>
      <td *appHasRole="['receptionist', 'admin', 'owner']" width="25%">
        {{ order.customerName }}
      </td>
    </tr>
  </table>

  <hr />
  <mat-card-content>
    <mat-accordion *ngFor="let item of order.items; let j = index">
      <mat-expansion-panel *ngIf="shouldShowItem(item)" class="item-panel">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ item.name }}
          </mat-panel-title>
          <mat-panel-description>
            <mat-chip-list>
              <mat-chip [ngClass]="item.status">{{ item.status }}</mat-chip>
            </mat-chip-list>
            <mat-chip
              (click)="openImages(item.images)"
              *ngIf="item.images?.length > 0"
              class="open-image"
            >
              <mat-icon color="primary">photo</mat-icon>
            </mat-chip>
            <mat-chip
              (click)="openTimeline(order, j)"
              *appHasRole="[
                'admin',
                'owner',
                'receptionist',
                'worker',
                'inspector'
              ]"
              class="timeline"
            >
              <mat-icon color="accent">timeline</mat-icon>
            </mat-chip>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-card class="box-shadow">
          <mat-card-content>
            <table>
              <tr>
                <td class="td--45"><strong>Quantity</strong></td>
                <td>{{ item.quantity }}</td>
              </tr>
              <tr *ngIf="item.hsn">
                <td class="td--45"><strong>HSN </strong></td>
                <td>{{ item.hsn }}</td>
              </tr>
              <tr *ngIf="item.remark">
                <td class="td--45"><strong>Remark </strong></td>
                <td>{{ item.remark }}</td>
              </tr>
              <tr *ngIf="item.weight">
                <td class="td--45"><strong>Weight </strong></td>
                <td>{{ item.weight }}</td>
              </tr>
              <tr *ngIf="item.progress">
                <td class="td--45"><strong>Progress </strong></td>
                <td>{{ item.progress }}</td>
              </tr>
              <tr *ngIf="item.currentSubProcess">
                <td class="td--45">
                  <strong>Received at </strong>
                </td>
                <td>
                  <ng-container
                    *ngIf="
                      !isDate(item.currentSubProcess.receivedAt);
                      else elseTemplate
                    "
                  >
                    {{
                      item.currentSubProcess.receivedAt.toDate()
                        | date: "M/d/yy, h:mm a"
                    }}
                  </ng-container>
                  <ng-template #elseTemplate>
                    {{
                      item.currentSubProcess.receivedAt | date: "M/d/yy, h:mm a"
                    }}
                  </ng-template>
                </td>
              </tr>
              <tr
                *ngIf="
                  item.currentSubProcess &&
                  item.currentSubProcess?.subProcessType === 'subvendor'
                "
              >
                <td class="td--45">
                  <strong>Subcontractor Name</strong>
                </td>
                <td>
                  {{ item.currentSubProcess.subvendorName }}
                </td>
              </tr>
              <tr
                *ngIf="
                  item.currentSubProcess &&
                  item.currentSubProcess?.subProcessType === 'department'
                "
              >
                <td class="td--45">
                  <strong>Department Name</strong>
                </td>
                <td>
                  {{ item.currentSubProcess.departmentName }}
                </td>
              </tr>
              <tr *ngIf="item.currentSubProcess && item.claimed?.claimed">
                <td class="td--45"><strong>Claimed by</strong></td>
                <td>
                  {{ item.claimed?.name }}
                </td>
              </tr>
            </table>
          </mat-card-content>
          <mat-card-actions class="card-actions">
            <span
              *ngIf="
                item.status !== 'ongoing' &&
                item.status !== 'completed' &&
                !item.currentSubProcess &&
                item.status !== 'billed'
              "
              class="right-float"
            >
              <button
                *appHasRole="['admin', 'owner', 'receptionist', 'inspector']"
                type="button"
                mat-icon-button
                color="primary"
                (click)="addProcess(order, j)"
              >
                <mat-icon class="add-circle">add_circle</mat-icon>
              </button>
            </span>
            <span *appHasRole="['subvendor']">
              <button
                *ngIf="
                  item.currentSubProcess &&
                  item.currentSubProcess.subProcessType === 'subvendor' &&
                  item.currentSubProcess.subvendorUID === user.uid
                "
                type="button"
                mat-icon-button
                color="accent"
                (click)="finishSubvendorProcess(order, j, true)"
              >
                <mat-icon>check_circle</mat-icon>
              </button>
            </span>
            <span *appHasRole="['worker']">
              <button
                *ngIf="
                  !item.claimed?.claimed &&
                  item.currentSubProcess?.subProcessType === 'department' &&
                  departmentName?.includes(
                    item.currentSubProcess?.departmentName
                  )
                "
                type="button"
                mat-icon-button
                color="primary"
                (click)="claimItem(order, j)"
              >
                <mat-icon>
                  build
                </mat-icon>
              </button>
              <button
                *ngIf="item.claimed?.claimed && userName === item.claimed?.name"
                type="button"
                mat-icon-button
                color="accent"
                (click)="unclaimItem(order, j)"
              >
                <mat-icon>check_circle</mat-icon>
              </button>
            </span>
            <span *appHasRole="['owner', 'admin', 'receptionist', 'inspector']">
              <button
                *ngIf="
                  !item.claimed?.claimed &&
                  item.currentSubProcess &&
                  item.progress === item.quantity
                "
                type="button"
                mat-icon-button
                color="accent"
                (click)="finishSubProcess(order, j)"
              >
                <mat-icon>check_circle_outline</mat-icon>
              </button>
              <button
                *ngIf="
                  item.currentSubProcess &&
                  item.currentSubProcess.subProcessType === 'subvendor'
                "
                type="button"
                mat-icon-button
                color="accent"
                (click)="finishSubvendorProcess(order, j, false)"
              >
                <mat-icon>check_circle_outline</mat-icon>
              </button>
              <button
                *ngIf="
                  !item.claimed?.claimed &&
                  !item.currentSubProcess &&
                  item.status !== 'completed' &&
                  item.status !== 'billed'
                "
                type="button"
                mat-icon-button
                color="primary"
                (click)="finishItem(order, j)"
              >
                <mat-icon>check_circle</mat-icon>
              </button>
            </span>
          </mat-card-actions>
        </mat-card>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-card-content>
</mat-card>
